<section class="content-header">
    <h1><i class="fa fa-briefcase"></i> Gestion des entreprises</h1>
    <ol class="breadcrumb">
        <li><a href="<%= sails.getUrlFor('AdminController.home') %>"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Entreprises inscrites</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Entreprises inscrites</h3>
                    <div class="box-tools">
                        <a href="<%= sails.getUrlFor('Admin/CompanyController.create') %>" class="btn btn-primary"><i class="fa fa-plus"></i> Créer une nouvelle</a>
                    </div>
                </div>
                <div class="box-body">
                    <%- partial('../templateDatatable/Company.ejs') %>
                </div>
            </div>
        </div>
    </div>
</section>

<link href="/dependencies/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
<script src="/dependencies/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script>
$(document).ready(function() {
    var datatable = $('#datatable').DataTable( {
        responsive: true,
        ajax: {
            'url': "<%= sails.getUrlFor('Admin/CompanyController.apiGetAll') %>",
            'dataSrc': ''
        },
        buttons: [
            'excel'
        ],
        /*
          Columns fields are described in 
          views\AdminLTE\templateDatatable\Company.ejs 
        */
        columns: [
            { 'data': "companyName" },
            /*
            { 'data': "logoPath",
                'render' : function(data, type, full, meta) {
                    return '<img class="img-responsive rounded" src="' + (data ? '/images/logos/' + data : '/images/default_logo.png') + '" alt="Company logo">';
                }
            },*/
            { 'data': "status",
            //trying without those line, to check il we can delete them
                /*'render': function(data) {
                    if(typeof data === 'undefined')
                        return '';
                    return data;
                }*/
            },
            { 'data': "mailAddress" },
            { 'data': "siret",
                'render': function(data, type, full, meta)  {
                    return '<a class="btn btn-info" href="/Admin/company/' +data+'"><i class="fa fa-info-circle"></i> Voir plus</a>';
                }
            },
            { 'data': "siret",
                'render': function(data, type, full, meta)  {
                    let year = new Date().getFullYear();
                    let renewable = full.orderYear < year || !full.orderYear;
                    return '<a class="btn btn btn-primary" href=' 
                    + (renewable 
                        ? '"/Admin/company/renew/' + data + '"' 
                        : '"#" disabled')
                     + '><i class="fa fa-refresh"></i> Renouveler </a>';
                }
            },
            { 'data': "active",
                'render': function(data, type, full, meta) {
                    let year = new Date().getFullYear();
                    let activable = full.orderYear == year || data;
                    
                    return '<input type="checkbox" name="checkbox-switch" ' 
                    + (activable ? '' : 'disabled')
                    + (data ? ' checked' : '')
                    +'>';
                }
            },
            
            { 'data': "createdAt",
                'render' : function(data, type, full, meta) {
                    return new Date(data).toLocaleDateString();
                }
            },
            { 'data': "updatedAt",
                'render' : function(data, type, full, meta) {
                    return new Date(data).toLocaleDateString();
                }
            },
        ],
        drawCallback: function(settings, json)  {
            $('input[name="checkbox-switch"]').bootstrapSwitch({
                onColor: 'success',
                onText: '<i class="fa fa-check">',
                offColor: 'danger',
                offText: '<i class="fa fa-times">',
                labelWidth: 0,
                onSwitchChange: function(event, state)  {
                    var data = datatable.row( $(this).parents('tr') ).data();
                    $.ajax({
                        url: '<%= sails.getUrlFor("Admin/CompanyController.apiUpdate") %>',
                        type: 'POST',
                        data:   {
                            id: data.id,
                            active: state
                        },
                        success: function(data, status, xhr)    {
                            toastr.success(data.msg);
                        },
                        error: function(jqXHR, status, err) {
                            if(jqXHR.responseJSON.msg)
                                toastr.warning(jqXHR.responseJSON.msg);
                            else
                                toastr.error(err);
                        }
                    });
                }
            });
        }

    } );
} );
</script>
