<section class="content-header">
    <h1>Gestion des Entreprises</h1>
    <ol class="breadcrumb">
        <li><a href="<%= sails.getUrlFor('AdminController.home') %>"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="<%= sails.getUrlFor('Admin/CompanyController.listing') %>">Entreprises inscrites</a></li>
        <li><a href="#">Modifier entreprise</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-4">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="<%= company.logoPath ? '/images/logos/' + company.logoPath : '/images/default_logo.png' %>" alt="Company Logo">

                    <h3 class="profile-username text-center"><%= company.companyName %></h3>

                    <p class="text-muted text-center"><%= company.status.name %></p>

                    <form class="form-horizontal" action="/admin/company/<%= company.siret %>" method="post">

                        <div class="form-group">
                            <label for="type" class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="status">
                                    <% allStatus.forEach(function(status) { %>
                                    <option value="<%= status.name %>" <%= company.status && status.name == company.status.name ? 'selected' : '' %>><%= status.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>


                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Numéro siret</b> <a class="pull-right"><%= company.siret %></a>
                        </li>
                        <li class="list-group-item">
                            <b>Groupe</b> <a class="pull-right"><%= company.companyGroup %></a>
                        </li>
                    </ul>

                    <button type="submit" class="btn btn-info btn-block"><b>Sauvegarder </b></button>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Profil</h3>
                </div>
                <!-- /.box-header -->

                <!-- form start -->
                <form role="form" method="post" action="/admin/company/<%= company.siret %>" >
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> Site internet</strong>
                    <p class="text-muted">
                        <a href="<%= company.websiteUrl %>" target="_blank"><%= company.websiteUrl %></a>
                    </p>
                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i> Site internet</strong>
                    <p class="text-muted">
                        <a href="<%= company.careerUrl %>" target="_blank"><%= company.careerUrl %></a>
                    </p>
                    <hr>

                    <strong><i class="fa fa-book margin-r-5"></i> Adresse postale</strong>
                    <p class="text-muted">
                        <%=company.road%><br />
                        <% if (typeof complementaryInformation != 'undefined' && complementaryInformation != "") { %>
                            <%= company.complementaryInformation %><br />
                        <% } %>
                        <%= company.postCode %> <%= company.city %><br />
                        <%= company.country %>
                    </p>
                </div>
                <!-- /.box-body -->
                </form>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-8">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#contact" data-toggle="tab">Contact</a></li>
                    <li><a href="#profile" data-toggle="tab">Profil</a></li>
                    <li><a href="#facturation" data-toggle="tab">Facturation</a></li>
                    <li><a href="#ventes" data-toggle="tab">Ventes</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="contact">
                        <form class="form-horizontal" method="post" action="/admin/company/<%= company.siret %>">

                            <div class="form-group">
                                <label for="firstName" class="col-sm-3 control-label">Prénom</label>
                                <div class="col-sm-9">
                                    <input type="text" name="firstName" class="form-control" placeholder="Prénom" value="<%= company.firstName %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Nom</label>
                                <div class="col-sm-9">
                                    <input type="text" name="lastName" class="form-control" placeholder="Nom de famille" value="<%= company.lastName %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Fonction</label>
                                <div class="col-sm-9">
                                    <input type="text" name="position" class="form-control" placeholder="Position dans l'entreprise" value="<%= company.position %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Téléphone</label>
                                <div class="col-sm-9">
                                    <input type="text" name="phoneNumber" class="form-control" placeholder="+339999999" value="<%= company.phoneNumber %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Mail</label>
                                <div class="col-sm-9">
                                    <input type="email" name="mailAddress" class="form-control" placeholder="contact@entreprise.com" value="<%= company.mailAddress %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="profile">
                        <form class="form-horizontal" method="post" action="/admin/company/<%= company.siret %>">

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Specialitiés</label>
                                <div class="col-sm-9">
                                    <div class="col-md-2 checkbox">
                                        <label><input type="checkbox"  name="AE" value="<%= company.AE %>" 
                                        <% if (company.AE == 'on') { %> value="on" checked <% } else { %> value="off" <% } %>> AE</label>
                                    </div>
                                    <div class="col-md-2 checkbox">
                                        <label><input type="checkbox"  name="GB" value="<%= company.GB %>" 
                                        <% if (company.GB == 'on') { %> value="on" checked <% } else { %> value="off" <% } %>> GB</label>
                                    </div>
                                    <div class="col-md-2 checkbox">
                                        <label><input type="checkbox"  name="GPE" value="<%= company.GPE %>" 
                                        <% if (company.GPE == 'on') { %> value="on" checked <% } else { %> value="off" <% } %>> GPE</label>
                                    </div>
                                    <div class="col-md-2 checkbox"> 
                                        <label><input type="checkbox"  name="GMM" value="<%= company.GMM %>" 
                                        <% if (company.GMM == 'on') { %> value="on" checked <% } else { %> value="off" <% } %>> GMM</label>
                                    </div>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <div class="col-md-2 checkbox">
                                        <label><input type="checkbox"  name="IR" value="<%= company.IR %>" 
                                        <% if (company.IR == 'on') { %> value="on" checked <% } else { %> value="off" <% } %>> IR</label> 
                                    </div> 
                                    <div class="col-md-2 checkbox">
                                        <label><input type="checkbox"  name="GP" value="<%= company.GP %>" 
                                        <% if (company.GP == 'on') { %> value="on" checked <% } else { %> value="off" <% } %>> GP</label>
                                    </div>
                                    <div class="col-md-2 checkbox">
                                        <label><input type="checkbox"  name="GM" value="<%= company.GM %>" 
                                        <% if (company.GM == 'on') { %> value="on" checked <% } else { %> value="off" <% } %>> GM</label>
                                    </div>
                                    <div class="col-md-2 checkbox">
                                        <label><input type="checkbox"  name="GC" value="<%= company.GC %>" 
                                        <% if (company.GC == 'on') { %> value="on" checked <% } else { %> value="off" <% } %>> GC</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-9">
                                    <textarea name="description" rows="10" class="form-control"><%= company.description %></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="facturation">
                        <form class="form-horizontal" method="post" action="/admin/company/<%= company.siret %>">

                            <div class="form-group">
                                <label for="firstName" class="col-sm-3 control-label">Prénom</label>
                                <div class="col-sm-9">
                                    <input type="text" name="bFirstName" class="form-control" placeholder="Prénom" value="<%= company.bFirstName %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Nom</label>
                                <div class="col-sm-9">
                                    <input type="text" name="bLastName" class="form-control" placeholder="Nom de famille" value="<%= company.bLastName %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Fonction</label>
                                <div class="col-sm-9">
                                    <input type="text" name="bPosition" class="form-control" placeholder="Position dans l'entreprise" value="<%= company.bPosition %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Téléphone</label>
                                <div class="col-sm-9">
                                    <input type="text" name="bPhoneNumber" class="form-control" placeholder="+339999999" value="<%= company.bPhoneNumber %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label">Mail</label>
                                <div class="col-sm-9">
                                    <input type="email" name="bMailAddress" class="form-control" placeholder="contact@entreprise.com" value="<%= company.bMailAddress %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="ventes">
                        <table id="datatable" class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Année</th>
                                <th>Facture</th>
                                <th>Forum</th>
                                <th>Forum + SJD</th>
                                <th>Forum XXL + SJD</th>
                                <th>Repas</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%sells.forEach(function(sell) {%>
                            <tr>
                                <td><%=sell.year%></td>
                                <td><a href='#'><%=sell.billNumber%></a></td>
                                <td><%= sell.forum == 'true' ? sell.forumPrice + ' €': '-' %></td>
                                <td><%= sell.sjd == 'true' ? sell.sjdPrice + ' €': '-' %></td>
                                <td><%= sell.offer == 'true' ? sell.offerPrice + ' €': '-' %></td>
                                <td><%= sell.moreMeal > 0 ? sell.moreMeal + ' x ' + sell.mealPrice + ' €': '-' %></td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->

                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
</section>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
<link href="/plugins/iCheck/flat/red.css" rel="stylesheet">
<script type="text/javascript" src="/plugins/iCheck/icheck.min.js"></script>
<script>
    $('input:checkbox').click(function() {
        let $input = $(this);
        if ($input.val() == "off") {
            $input.attr('value', 'on');  
        } else {
            $input.attr('value', 'off');  
        }
    });

    $(document).ready(function() {
        let datatable = $('#datatable').DataTable();
    })
</script>
