<h1>Partie admin</h1>

<% if (req.session.isAdmin != true) { %>

<form method="POST" action="/Admin/Login">
  <input type="password" name="password"/>
  <input type="submit" value="Se connecter"/>
</form>

<% } else { %>


<h2>Etudiants inscrits à l'événement</h2>

<table style="border-spacing: 10px; border-collapse: separate">
  <tr>
    <th>N°</th> <th>ID</th> <th>Login</th> <th>Prénom</th> <th>Nom</th>
  </tr>
  <% students.forEach( function(student, index) { %>
  <tr>
    <td>
      <%=index%>)
    </td>
    <td>
      <%=student.studentId %>
    </td>
    <td>
      <%=student.login %>
    </td>
    <td>
      <%=student.firstName %>
    </td>
    <td>
      <%=student.lastName %>
    </td>
  </tr>
  <% }); %>
</table>

<% } %>
