<h1>Partie admin</h1>

<% if (req.session.isAdmin != true) { %>

<form method="POST" action="/Admin/Login">
  <input type="password" name="password"/>
  <input type="submit" value="Se connecter"/>
</form>

<% } else {
    var speciality = ""
%>

<h2>Etudiants enregistrées sur le site</h2>
<!--<table style="border-spacing: 10px; border-collapse: separate">-->
<table id="datatable" class="display">
  <thead>
  <tr>
    <th>n°</th> <th>Login</th> <th>Nom</th> <th>Prénom</th> <th>M/F</th> <th>Mail</th> <th>Année</th> <th>CV fr</th> <th>CV en</th> <th>Site</th> <th>Ln</th> <th>Vd</th> <th>Gh</th>
  </tr>
  </thead>
  <tbody>
<% students.forEach( function(student, index) { %>
  <tr>
    <td>
      <%=index %>)
    </td>
    <td>
      <%=student.login %>
    </td>
    <td>
      <%=student.lastName %>
    </td>
    <td>
      <%=student.firstName %>
    </td>
    <td>
      <%=student.gender %>
    </td>
    <td>
      <%=student.mailAddress %>
    </td>
    <td>
      <%=student.year %>
    </td>
    <td>
      <% if (typeof student.frCVPath != 'undefined' && student.frCVPath != "") { %>
      <form class="pure-form" id="downloadFormFR" method="post" action="/file/download">
        <input type="hidden" name="dl" value="fr"/>
        <input type="hidden" name="cvLogin" value="<%=student.login%>"/>
        <button type="submit" ><i class="fa fa-download" aria-hidden="true"></i></button>
      </form>
      <% } else { %>
        -
      <% } %>
    </td>
    <td>
      <% if (typeof student.enCVPath != 'undefined' && student.enCVPath != "") { %>
      <form class="pure-form" id="downloadFormEN" method="post" action="/file/download">
        <input type="hidden" name="dl" value="en"/>
        <input type="hidden" name="cvLogin" value="<%=student.login%>"/>
        <button type="submit" ><i class="fa fa-download" aria-hidden="true"></i></button>
      </form>
      <% } else { %>
        -
      <% } %>
    </td>
    <td>
      <% if (student.personalWebsite.length != 0)  { %>
        <a href="<%=student.personalWebsite%>">Voir</a>
      <% } else { %>
        -
      <% } %>
    </td>
    <td>
      <% if (student.linkedin.length != 0)  { %>
        <a href="<%= student.linkedin%>">Voir</a>
      <% } else { %>
        -
      <% } %>
    </td>
    <td>
      <% if (student.viadeo.length != 0)  { %>
        <a href="<%= student.viadeo%>">Voir</a>
      <% } else { %>
        -
      <% } %>
    </td>
    <td>
      <% if (student.github.length != 0)  { %>
        <a href="<%= student.github%>">Voir</a>
      <% } else { %>
        -
      <% } %>
    </td>
  </tr>
<% }); %>
  </tbody>
</table>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/autofill/2.2.0/css/autoFill.dataTables.min.css"/>
<script>
    $(document).ready(function() {

        $('#datatable').DataTable({
            dom: 'C<"clear">lfrtip'
        });
    } );
</script>
<% } %>
