<h1>Partie admin</h1>

<% if (req.session.isAdmin != true) { %>

<form method="POST" action="/Admin/Login">
  <input type="password" name="password"/>
  <input type="submit" value="Se connecter"/>
</form>

<% } else { %>

<h2>Entreprises enregistrées sur le site</h2>

<table style="border-spacing: 10px; border-collapse: separate">
  <tr>
    <th>N°</th> <th>Nom</th> <th>PME</th> <th>Siret</th> <th>Date d'inscrition</th> <th>Blacklistée</th> <th>Plus d'info</th>
  </tr>
  <% companies.forEach( function(company, index) { %>
  <tr>
    <td>
      <%=index %>)
    </td>
    <td>
      <%=company.companyName %>
    </td>
    <td>
      <%=company.isPME %>
    </td>
    <td>
      <%=company.siret %>
    </td>
    <td>
      <%=company.createdAt %>
    </td>
    <td>
      <%=company.blacklist %>
    </td>
    <td>
      <a href="/Admin/CompanyInfo?siret=<%=company.siret%>">Voir plus</a>
    </td>
  </tr>
  <% }); %>
</table>

<% } %>
