<h1>Partie admin</h1>

<% if (req.session.isAdmin != true) { %>

<form method="POST" action="/Admin/Login">
  <input type="password" name="password"/>
  <input type="submit" value="Se connecter"/>
</form>

<% } else { %>

<h2>Paramètre à changer</h2>
<p>Attention, le changement de ces paramètres aura des répercutions sur l'ensemble du site. Faites le uniquement avec l'accord du webmaster.</p>

<!--
<h3>Changement pour l'année <%=year%></h3>
  <form method="post" action="/Admin/SetPrices">
  <label>Nouveau prix pour un repas supplémentaire (actuel : <%= yearSettings.mealPrice %>€)</label> <input type="number" name="mealPrice"/><br />
  <h3>Pour les grandes entreprises</h3>
  <label>Nouveau prix du forum (actuel : <%= yearSettings.forumPrice %>€)</label> <input type="number" name="forumPrice"/><br />
  <label>Nouveau prix du SJD (actuel : <%= yearSettings.sjdPrice %>€)</label> <input type="number" name="sjdPrice"/><br />
  <label>Nouveau prix d'une session supplémentaire au SJD (actuel : <%= yearSettings.sjdSessionPrice %>€)</label> <input type="number" name="sjdSessionPrice"/><br />
  <label>Nouveau prix du pack premium (actuel : <%= yearSettings.premiumPrice %>€)</label> <input type="number" name="premiumPrice"/><br />

  <h3>Pour les PME</h3>
  <label>Nouveau prix du forum (actuel : <%= yearSettings.forumPricePME %>€)</label> <input type="number" name="forumPricePME"/><br />
  <label>Nouveau prix du SJD (actuel : <%= yearSettings.sjdPricePME %>€)</label> <input type="number" name="sjdPricePME"/><br />
  <label>Nouveau prix d'une session supplémentaire au SJD (actuel : <%= yearSettings.sjdSessionPricePME %>€)</label> <input type="number" name="sjdSessionPricePME"/><br />
  <label>Nouveau prix du pack premium (actuel : <%= yearSettings.premiumPricePME %>€)</label> <input type="number" name="premiumPricePME"/><br />
  <input type="submit" value="Envoyer"/>
</form>
-->
<h3>Date limite d'inscription</h3>
<p>
  Actuellement la deadline est fixée à <b><%= generalSettings.inscriptionDeadline %></b>.<br />
  Changer la deadline pour :
</p>
<form method="post" action="/Admin/setInscriptionDeadline">
  <input type="date" name="inscriptionDeadline">
  <input type="submit" value="Enregistrer">
</form>

<h3>Ouvrir les inscriptions pour l'année <%=year%></h3>
<form method="post" action="/Admin/setInscriptionOpen">
  <p>Actuellement, les inscriptions sont <b><%= generalSettings.areInscriptionsOpened? 'ouvertes' : 'fermées' %></b>.<br />
    Définir les inscriptions comme :</p>
  <input type="radio" value="1" name="inscriptions" <%= generalSettings.areInscriptionsOpened ? 'checked' : '' %>/><label>ouvertes</label><br />
  <input type="radio" value="0" name="inscriptions" <%= generalSettings.areInscriptionsOpened ? '' : 'checked' %>/><label>fermées</label><br />
  <input type="submit" value="Enregistrer"/>
</form>

<% } %>
