<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>


  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Latest compiled and minified jquery core -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

  <!-- Bootstrap - Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Bootstrap - Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Bootstrap - Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <!-- pure css -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/custom.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/unslider-dots.css">
  <link rel="stylesheet" href="/styles/unslider.css">
  <!--STYLES END-->

  <!-- React -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.8/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.8/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>


</head>
<body class="custom-body">
  <div class="pure-g">
    <div class="pure-u-3-5 center-part" style="margin: auto">
      <header>
        <a href="/" ><img src='/images/Logo_FIE_blanc.png' width="400" alt="logo"/></a>
        <div id="networks">
          <a href="https://www.facebook.com/ForumInsaEntreprises" class="icon-button facebook" target="_blank"><i class="fa fa-facebook icon-facebook"></i><span></span></a>
          <a href="https://twitter.com/INSAToulouse" class="icon-button twitter" target="_blank"><i class="fa fa-twitter icon-twitter"></i><span></span></a>
          <a href="https://fr.linkedin.com/in/forum-insa-entreprises-49377699" class="icon-button linkedin" target="_blank"><i class="fa fa-linkedin icon-linkedin"></i><span></span></a>
        </div>
        <div id="connect-infos">
        <% if(req.session.authenticated){ %>
            <p>Connecté en tant que:<br/>
          <% if (req.session.sessionType == "company") {%>
              <%=req.session.companyName%>
        <%  } else if (req.session.sessionType == "student") { %>
              <%=req.session.firstName%>
        <%  } else { %>
              Type inconnu
        <%  }
          } else { %>
            <p>CONNEXION: </p>
            <button id="connectStudent"  type="button" class="btn red-button student"><i class="fa fa-graduation-cap"></i> Etudiant</button>
            <button id="connectCompany"  type="button" class="btn red-button company"><i class="fa fa-briefcase"></i> Entreprise</button>
        <% } %>
      </div>

      </header>

      <!-- Content inserted here -->
      <%- include nav %>
      <div class="content-part">
        <div id="subBody"></div>
        <%- body %>
      </div>
    </div>
  </div>

  <footer>
    <div class="pure-g">
      <div class="pure-u-3-5 footer">
        <%- include footer %>
      </div>
    </div>
  </footer>
<script src="/js/unslider-min.js"></script>
<script>
		jQuery(document).ready(function($) {
			$('.my-slider').unslider({
        autoplay: true,
        delay: 6000
      });
		});
	</script>
</body>


</html>
