<link rel="stylesheet" href="/dependencies/sweetalert2/sweetalert2.min.css">
<script src="/dependencies/sweetalert2/sweetalert2.min.js"></script>

<h3>Cette page n'existe plus</h3>

<!--
<h1>Réserver sa place</h1>

<p>Vous avez jusqu'au <%=deadline%> pour vous inscrire.</p>
<img src=<%=priceImgUrl%> style="display: block; width: 100%; margin: auto; padding-top: 30px; padding-bottom: 30px;"/>
<%if (reduit)  { %>
<p>En tant que <%= req.session.user.type %> vous bénéficiez de prix réduits.</p>
<% } %>

<h2>Formulaire de commande</h2>
<p>
  Une fois que vous aurez cliqué sur "Réserver", si le formulaire est correctement rempli, un mail contenant la facture vous sera envoyé et vous serez engagé auprès du Forum INSA Entreprises.
  <br/>En cas d'erreur dans la commande ou pour une modification, veuillez nous contacter par mail à <b>contact@foruminsaentreprises.fr<b>.
</p>

<form method="post" action="/Command/NewCommand">
  <table style="border-spacing: 10px; border-collapse: separate">
    <tr>
      <td><label for="forumCommand">Forum : <%=forumPrice%> € </label> </td>
      <td><input id="forum" value="forum" type="radio" name="Command" required checked/></td>
    </tr>
    <tr>
      <td><label for="sjdCommand">SJD (2 sessions (16 candidats)) : <%=sjdPrice%> € </label> </td>
      <td><input id="sjd" value="sjd" type="radio" name="Command"/></td>
    </tr>
    <tr>
      <td><label for="premiumCommand">Forum + SJD : <%=premiumPrice%> € </label> </td>
      <td><input id="premium" value="premium" type="radio" name="Command"/></td>
    </tr>
    <tr>
      <td>
        <label for="sjdSessionCommand">Session SJD supplémentaire (8 candidats/session) : <%=sjdSessionPrice%> €/session </label>
        <p style="font-size:0.8em">(Disponible uniquement pour la formule "SJD" et "Forum + SJD")</p>
      </td>
      <td><input id="sjdSessionCommand" type="number" name="numberSjdSession" value="0" min="0" max="10" required/></td>
    </tr>
    <tr>
      <td><label for="moreMeal">Nombre de personne présentes le jour de l'évènement <sup>(1)</sup> : (<%=mealPrice%> €/personne )</label></td>
      <td><input id="moreMeal" type="number" name="moreMeal" value="0" min="0" max="10" required/></td>
    </tr>
  </table>
  <label for="cgu" class="pure-checkbox">
    <input id="cgu" name="cgu" type="checkbox" required/>
      Vous vous apprêter à valider votre commande. En cochant la case ci-avant vous vous engagez à régler le montant de la prestation choisie tel que décrit sur le site. Une modification de cet engagement sera possible uniquement sur demande et au plus tard un mois avant la tenue du forum.
  </label><br />
  <p>
    <sup>(1)</sup> Merci de nous renseigner le nombre de personnes qui seront présentes le jour de l'événement pour des raisons de sécurité et d'organisation. Le prix correspond au frais de restauration, soit un repas traiteur et des collations toute la journée.
  </p>
    <% if (canBook) { %>
    <input type="submit" value="Réserver" class="pure-button"/>
    <% } else { %>
      <input type="submit" value="Réserver" class="pure-button" disabled/>
      <div class="well-danger">Certaines informations sont nécessaires pour la réservation, nous vous invitons de finir votre profil dans l'onglet "Espace Perso" > "Mon profil" </div>
    <% } %>

</form>
<script>
    $('#cgu').change(function()  {

        if($('#moreMeal').val() <= 0)   {
            swal({      // alert
                title: 'Réservation échoué',
                text: 'Veuillez nous renseigner le nombre de personne (au moins 1 représentant de l\'entreprise)',
                type: 'error',
                confirmButtonColor: "#e42618"
            }).then(function()  {
                $('#cgu').prop('checked',false);
            });
        }
    });
</script>

-->