<h1>Création d'un compte entreprise</h1>
<p>Créer un compte ne vous engage pas, il permet juste de vous créer un profil sur le site et d'accéder à la partiecommande où vous pourrez consulter nos tarifs et passer commande.</p>

<form id="FormInscription" enctype="multipart/form-data" method="post" action="<%= sails.getUrlFor('CompanyController.create') %>"
      class="pure-form pure-form-aligned">

    <h2>Profil Entreprise</h2>
    <p>Ces informations permettront aux étudiants d'avoir plus d'informations sur votre entreprise lorsqu'ils
        consulteront le catalogue des entreprises sur le site et dans la plaquette du forum.</p>

    <% if(flash.has('error'))    { %>
    <p style="color:red;font-size:12px;">Veuillez corriger les erreurs dans les champs ci-dessous</p>
    <p style="color:red;font-size:12px;">Les champs marqués d'une étoile sont obligatoires</p>
    <% } %>


    <fieldset style="text-align: center;">
        <div class="pure-control-group">
            <label for="type">Quel type d'entreprise êtes-vous?<sup>*</sup> </label>
            </select>
            <select name="type" class="pure-input-1-3" required>
                <!--<% typesCompany.forEach(function(type) { %>
                <option value="<%= type %>"><%= type %></option>
                <% }); %>-->
            </select>
            <% flash.get('type').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="siret">Numéro de siret<sup>*</sup> </label>
            <input class="pure-input-1-3" maxlength="17" value="<%= company.siret %>" type="text" name="siret" id="siret" placeholder="siret" required pattern="[0-9]{3}[ \.\-]?[0-9]{3}[ \.\-]?[0-9]{3}[ \.\-]?[0-9]{5}"/>
            <% flash.get('siret').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="companyName">Nom de l'entreprise<sup>*</sup> </label>
            <input class="pure-input-1-3" maxlength="50" value="<%= company.companyName %>" type="text" name="companyName" id="companyName" placeholder="Nom de l'entreprise" required/>
            <% flash.get('companyName').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="companyGroup">Groupe de l'entreprise </label>
            <input class="pure-input-1-3" maxlength="50" value="<%= company.companyGroup %>" type="text" name="companyGroup" id="companyGroup" placeholder="Nom du groupe"/>
            <% flash.get('companyGroup').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="description">Description de l'entreprise</label>
            <textarea class="pure-input-1-3" rows="3" maxlength="500" value="<%= company.description %>" name="description" id="description" placeholder="Tapez ici la description de l'entreprise qui apparaitra dans la plaquette du forum et sur le catalogue en ligne."></textarea>
            <% flash.get('description').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="websiteUrl">Site internet officiel</label>
            <input class="pure-input-1-3" maxlength="200" value="<%= company.websiteUrl %>" type="url" name="websiteUrl"
                   id="websiteUrl" placeholder="Ex: http://monentreprise.fr"/>
            <% flash.get('websiteUrl').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="careerUrl">Site de recrutement</label>
            <input class="pure-input-1-3" maxlength="200" value="<%= company.careerUrl %>" type="url" name="careerUrl" id="careerUrl" placeholder="Ex: http://monentreprise.fr/recrutement"/>
            <% flash.get('careerUrl').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="road">Adresse<sup>*</sup></label>
            <input class="pure-input-1-3" maxlength="50" value="<%= company.road %>" type="text"
                   name="road" id="road" placeholder="Adresse" required/>
            <% flash.get('road').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="complementaryInformation">Complément</label>
            <input class="pure-input-1-3" maxlength="50" value="<%= company.complementaryInformation %>" type="text" name="complementaryInformation" id="complementaryInformation" placeholder="Information complementaire"/>
            <% flash.get('complementaryInformation').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="postCode">Code Postal<sup>*</sup></label>
            <input class="pure-input-1-3" maxlength="6" value="<%= company.postCode %>" type="text" name="postCode" id="postCode" placeholder="Code Postal" required/>
            <% flash.get('postCode').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <!-- TODO: terminer d'ajouter les <p> pour les erreurs et refondre JScript de sécu client -->

        <div class="pure-control-group">
            <label for="city">Ville<sup>*</sup></label>
            <input class="pure-input-1-3" maxlength="200" value="<%= company.city %>" type="text" name="city" id="city" placeholder="Ville" required/>
            <% flash.get('city').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="country">Pays<sup>*</sup></label>
            <input class="pure-input-1-3" maxlength="50" value="<%= company.country %>" type="text" name="country" id="country" placeholder="Pays" required/>
            <% flash.get('country').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

    </fieldset>

    <h2>Contact Forum</h2>
    <p>Ces informations doivent être remplies par la personne qui sera en charge du dossier. Elles seront utilisées par
        l'équipe du forum pour contacter l'entreprise.</p>
    <fieldset style="text-align: center;">
        <div class="pure-control-group">
            <label for="firstName">Prénom<sup>*</sup></label>
            <input class="pure-input-1-3" maxlength="50" value="<%= company.firstName %>" type="text" name="firstName" id="firstName" placeholder="Prénom" required/>
            <% flash.get('firstName').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>


        <div class="pure-control-group">
            <label for="lastName">Nom<sup>*</sup></label>
            <input class="pure-input-1-3" maxlength="50" value="<%= company.lastName %>" type="text" name="lastName" id="lastName" placeholder="Nom" required/>
            <% flash.get('lastName').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="position">Fonction<sup>*</sup></label>
            <input class="pure-input-1-3" maxlength="50" value="<%= company.position %>" type="text" name="position" id="position" placeholder="Fonction" required/>
            <% flash.get('position').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="phoneNumber">Numéro de téléphone<sup>*</sup></label>
            <input class="pure-input-1-3" maxlength="13" value="<%= company.phoneNumber %>" type="number" name="phoneNumber" id="phoneNumber" placeholder="Numéro de téléphone" required
                   pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"/>
            <% flash.get('phoneNumber').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="mailAddress">Addresse e-mail<sup>*</sup></label>
            <input class="pure-input-1-3" maxlength="150" value="<%= company.mailAddress %>" type="email" name="mailAddress" id="mailAddress" placeholder="Email" required pattern="^\S+@(([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6})$"/>
            <% flash.get('mailAddress').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="password">Mot de passe<sup>*</sup></label>
            <input class="pure-input-1-3" minlength="6" maxlength="50" name="password" type="password" id="password" placeholder="Password" required/>
            <% flash.get('password').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </div>

        <div class="pure-control-group">
            <label for="confirmpassword">Confirmez le mot de passe<sup>*</sup></label>
            <input class="pure-input-1-3" minlength="6" maxlength="50" type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" required/><br/>
            <% flash.get('confirmpassword').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
            <div class="form-error">
                <p>Les mots de passe doivent être identiques et contenir entre 6 et 50 carac.</p>
            </div>
        </div>

    </fieldset>


    <h2>Intérêts</h2>
    <p>Quels sont les profils d'étudiants qui vous intéressent ?</p>
    <fieldset style="text-align: center;">

        <table style="border-spacing: 10px; border-collapse: separate">
            <tr>
                <th><input type="checkbox" name="IR" id="IR"/><label for="IR">&nbsp;Informatique et Réseaux</label></th>
                <th><input type="checkbox" name="AE" id="AE"/><label for="AE">&nbsp;Automatique, Électronique</label>
                </th>
                <th><input type="checkbox" name="GP" id="GP"/><label for="GP">&nbsp;Génie Physique</label></th>
                <th><input type="checkbox" name="GB" id="GB"/><label for="GB">&nbsp;Génie Biologique</label></th>
            </tr>
            <tr>
                <th><input type="checkbox" name="GPE" id="GPE"/><label for="GPE">&nbsp;Génie des Procédés et Environnement</label></th>
                <th><input type="checkbox" name="GC" id="GC"/><label for="GC">&nbsp;Génie Civil</label></th>
                <th><input type="checkbox" name="GM" id="GM"/><label for="GM">&nbsp;Génie Mécanique</label></th>
                <th><input type="checkbox" name="GMM" id="GMM"/><label for="GMM">&nbsp;Mathématiques appliquées</label></th>
            </tr>
        </table>

        <div class="pure-controls">
            <input id="ButtonSubmit" type="submit" class="form-button" class="pure-button pure-button-primary pure-input-1-3" value="Valider">
        </div>


    </fieldset>
</form>
<p><sup>*</sup> Champs obligatoires</p>

<aside class="well-danger">
    <p>
        Rappel : en vous créant un compte, vous ne vous inscrivez pas au Forum du mardi 22 octobre 2019. Pour vous
        inscrire au forum il faudra passer commande en étant connecté au site.
    </p>
</aside>

<script type="text/javascript">
//    <!--
//
//
//    // Objets de saisie
//    var UserPassword = document.getElementById("UserPassword");
//    var ConfirmUserPassword = document.getElementById("ConfirmUserPassword");
//    var POSTUserPass = document.getElementById("POSTUserPass");
//    var ButtonSubmit = document.getElementById("ButtonSubmit");
//    var FormInscription = document.getElementById("FormInscription");
//
//    //Objets de notifications erreurs
//    var UserPasswordErr = document.getElementById("UserPasswordErr");
//
//    // On désactive l'envoi du form par défaut
//    ButtonSubmit.disabled = true;
//
//    // Fonctions utilisées pour verifier les erreurs
//
//    //Affiche erreur sur un champ
//    // ErrObj corespond a l'objet qui contient le message d'erreur (dont le css sera modifié par JS pour qu'il soit affiché)
//    function DispError(ErrObj) {
//        ErrObj.style = "display:inline-block;font-size:10px;color:red;";
//    }
//
//    // Supprime erreur sur un champ
//    // ErrObj corespond a l'objet qui contient le message d'erreur (dont le css sera modifié par JS pour qu'il soit affiché)
//    function CleanError(ErrObj) {
//        ErrObj.style = "display:none;";
//    }
//
//    // Vérifie que les mots de passes Pass1 et Pass2 soient identiques
//    function PassCheck(Pass1, Pass2) {
//        if (Pass1.value == Pass2.value && Pass1.value.length >= 6 && Pass1.value.length <= 50)
//            return true;
//    }
//
//    // Verification des mots de passe
//    ConfirmUserPassword.addEventListener('input', function () {
//        if (PassCheck(UserPassword, ConfirmUserPassword)) {
//            UserPassword.style = "background-color:#66ff66;";
//            ConfirmUserPassword.style = "background-color:#66ff66;";
//            CleanError(UserPasswordErr);
//            POSTUserPass.value = sha1(UserPassword.value);
//            ButtonSubmit.href = "javascript:submitform()";
//            ButtonSubmit.disabled = false;
//        }
//        else {
//            UserPassword.style = "background-color:#ff6666;";
//            ConfirmUserPassword.style = "background-color:#ff6666;";
//            DispError(UserPasswordErr);
//            POSTUserPass.value = undefined;
//            ButtonSubmit.href = "#UserPassword";
//            ButtonSubmit.disabled = true;
//        }
//    })
//    UserPassword.addEventListener('input', function () {
//        if (PassCheck(UserPassword, ConfirmUserPassword)) {
//            UserPassword.style = "background-color:#66ff66;";
//            ConfirmUserPassword.style = "background-color:#66ff66;";
//            CleanError(UserPasswordErr);
//            POSTUserPass.value = sha1(UserPassword.value);
//            ButtonSubmit.disabled = false;
//        }
//        else {
//            this.style = "background-color:#ff6666;";
//            ConfirmUserPassword.style = "background-color:#ff6666;";
//            DispError(UserPasswordErr);
//            POSTUserPass.value = undefined;
//            ButtonSubmit.href = "#UserPassword";
//            ButtonSubmit.disabled = true;
//        }
//    })
//
//    // FOnction qui permet de soumettre le form une fois la verif mot de passe OK
//    function submitform() {
//        FormInscription.submit();
//    }
//
//    // Fonction qui permet de faire un hachage en sha1, prise sur le web
//    function sha1(str) {
//        //  discuss at: http://phpjs.org/functions/sha1/
//        // original by: Webtoolkit.info (http://www.webtoolkit.info/)
//        // improved by: Michael White (http://getsprink.com)
//        // improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
//        //    input by: Brett Zamir (http://brett-zamir.me)
//
//        var rotate_left = function (n, s) {
//            var t4 = (n << s) | (n >>> (32 - s))
//            return t4
//        }
//
//        /* var lsb_hex = function (val) {
//         // Not in use; needed?
//         var str="";
//         var i;
//         var vh;
//         var vl;
//
//         for ( i=0; i<=6; i+=2 ) {
//         vh = (val>>>(i*4+4))&0x0f;
//         vl = (val>>>(i*4))&0x0f;
//         str += vh.toString(16) + vl.toString(16);
//         }
//         return str;
//         };*/
//
//        var cvt_hex = function (val) {
//            var str = ''
//            var i
//            var v
//
//            for (i = 7; i >= 0; i--) {
//                v = (val >>> (i * 4)) & 0x0f
//                str += v.toString(16)
//            }
//            return str
//        }
//
//        var blockstart
//        var i, j
//        var W = new Array(80)
//        var H0 = 0x67452301
//        var H1 = 0xEFCDAB89
//        var H2 = 0x98BADCFE
//        var H3 = 0x10325476
//        var H4 = 0xC3D2E1F0
//        var A, B, C, D, E
//        var temp
//
//        // utf8_encode
//        str = unescape(encodeURIComponent(str))
//        var str_len = str.length
//
//        var word_array = []
//        for (i = 0; i < str_len - 3; i += 4) {
//            j = str.charCodeAt(i) << 24 | str.charCodeAt(i + 1) << 16 | str.charCodeAt(i + 2) << 8 | str.charCodeAt(i + 3)
//            word_array.push(j)
//        }
//
//        switch (str_len % 4) {
//            case 0:
//                i = 0x080000000
//                break
//            case 1:
//                i = str.charCodeAt(str_len - 1) << 24 | 0x0800000
//                break
//            case 2:
//                i = str.charCodeAt(str_len - 2) << 24 | str.charCodeAt(str_len - 1) << 16 | 0x08000
//                break
//            case 3:
//                i = str.charCodeAt(str_len - 3) << 24 | str.charCodeAt(str_len - 2) << 16 | str.charCodeAt(str_len - 1) <<
//                    8 | 0x80
//                break
//        }
//
//        word_array.push(i)
//
//        while ((word_array.length % 16) != 14) {
//            word_array.push(0)
//        }
//
//        word_array.push(str_len >>> 29)
//        word_array.push((str_len << 3) & 0x0ffffffff)
//
//        for (blockstart = 0; blockstart < word_array.length; blockstart += 16) {
//            for (i = 0; i < 16; i++) {
//                W[i] = word_array[blockstart + i]
//            }
//            for (i = 16; i <= 79; i++) {
//                W[i] = rotate_left(W[i - 3] ^ W[i - 8] ^ W[i - 14] ^ W[i - 16], 1)
//            }
//
//            A = H0
//            B = H1
//            C = H2
//            D = H3
//            E = H4
//
//            for (i = 0; i <= 19; i++) {
//                temp = (rotate_left(A, 5) + ((B & C) | (~B & D)) + E + W[i] + 0x5A827999) & 0x0ffffffff
//                E = D
//                D = C
//                C = rotate_left(B, 30)
//                B = A
//                A = temp
//            }
//
//            for (i = 20; i <= 39; i++) {
//                temp = (rotate_left(A, 5) + (B ^ C ^ D) + E + W[i] + 0x6ED9EBA1) & 0x0ffffffff
//                E = D
//                D = C
//                C = rotate_left(B, 30)
//                B = A
//                A = temp
//            }
//
//            for (i = 40; i <= 59; i++) {
//                temp = (rotate_left(A, 5) + ((B & C) | (B & D) | (C & D)) + E + W[i] + 0x8F1BBCDC) & 0x0ffffffff
//                E = D
//                D = C
//                C = rotate_left(B, 30)
//                B = A
//                A = temp
//            }
//
//            for (i = 60; i <= 79; i++) {
//                temp = (rotate_left(A, 5) + (B ^ C ^ D) + E + W[i] + 0xCA62C1D6) & 0x0ffffffff
//                E = D
//                D = C
//                C = rotate_left(B, 30)
//                B = A
//                A = temp
//            }
//
//            H0 = (H0 + A) & 0x0ffffffff
//            H1 = (H1 + B) & 0x0ffffffff
//            H2 = (H2 + C) & 0x0ffffffff
//            H3 = (H3 + D) & 0x0ffffffff
//            H4 = (H4 + E) & 0x0ffffffff
//        }
//
//        temp = cvt_hex(H0) + cvt_hex(H1) + cvt_hex(H2) + cvt_hex(H3) + cvt_hex(H4)
//        return temp.toLowerCase()
//    }
//    //-->
</script>
