
<style>

    td h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 5px;
    }

    td {
        padding: 10px;
        width: 5%;
    }

    label {
        font-weight: normal;
    }
</style>

<div class="content">
<h1>Profil Entreprise</h1>
<p>Vous pouvez ici consulter votre profil.<br />Pensez à mettre un <b>logo</b>. Il sera utilisé dans nos supports de communication.</p>
<p>N'oubliez pas de changer de mot de passe si ce n'est pas encore fait !</p>

<h2><i class="fa fa-user"></i>&nbsp;&nbsp;Contacts</h2>
<div class="col-sm-12">

    <div class="col-sm-6">
        <form class="pure-form pure-form-stacked" method="post" action="<%= sails.getUrlFor('CompanyController.update') %>">
          <fieldset>
              <legend>Forum</legend>

              <label for="firstName">Prénom : <%=company.firstName%></label>
              <input class="pure-input-1" type="text" name="firstName" value="<%=company.firstName%>">
              <% flash.get('firstName').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="lastName">Nom : <%=company.lastName%></label>
              <input class="pure-input-1" type="text" name="lastName" value="<%=company.lastName%>">
              <% flash.get('lastName').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="position">Fonction : <%=company.position%></label>
              <input class="pure-input-1" type="text" name="position" value="<%=company.position%>">
              <% flash.get('position').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="phoneNumber"><i class="fa fa-phone"></i>&nbsp;&nbsp;Téléphone : <%=company.phoneNumber%></label>
              <input class="pure-input-1" type="text" name="phoneNumber" value="<%=company.phoneNumber%>">
              <% flash.get('phoneNumber').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="mailAddress"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email : <%= company.mailAddress %></label>
              <input class="pure-input-1" type="text" name="mailAddress" value="<%= company.mailAddress %>">
              <% flash.get('mailAddress').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <button style="width: 100%;" type="submit" class="form-button">Enregistrer</button>
          </fieldset>
        </form>
    </div>
    <div class="col-sm-6">
        <form class="pure-form pure-form-stacked" method="post" action="<%= sails.getUrlFor('CompanyController.update') %>">
          <fieldset>
              <legend>Facturation</legend>

              <label for="bFirstName">Prénom<sup class="text-danger">*</sup> : <%= company.bFirstName %></label>
              <input class="pure-input-1" type="text" name="bFirstName" value="<%= company.bFirstName %>">
              <% flash.get('bFirstName').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="bLastName">Nom<sup class="text-danger">*</sup> : <%= company.bLastName %></label>
              <input class="pure-input-1" type="text" name="bLastName" value="<%= company.bLastName %>">
              <% flash.get('bLastName').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="bPosition">Fonction<sup class="text-danger">*</sup> : <%= company.bPosition%></label>
              <input class="pure-input-1" type="text" name="bPosition" value="<%= company.bPosition %>">
              <% flash.get('bPosition').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="bPhoneNumber"><i class="fa fa-phone"></i>&nbsp;&nbsp;Téléphone<sup class="text-danger">*</sup> : <%= company.bPhoneNumber %></label>
              <input class="pure-input-1" type="text" name="bPhoneNumber" value="<%= company.bPhoneNumber %>">
              <% flash.get('bPhoneNumber').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="bMailAddress"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email<sup class="text-danger">*</sup> : <%= typeof company.bMailAddress == 'undefined' ? '' : company.bMailAddress %></label>
              <input class="pure-input-1" type="text" name="bMailAddress" value="<%= typeof company.bMailAddress == 'undefined' ? '' : company.bMailAddress %>">
              <% flash.get('bMailAddress').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>
              <button style="width: 100%;" type="submit" class="form-button">Enregistrer</button>
          </fieldset>
        </form>
    </div>
    <div class="pure-u-md-1-8"></div>
</div>

<div class="col-sm-12">
    <div class="col-sm-6">
        <h3><i class="fa fa-lock"></i>&nbsp;&nbsp;Mot de passe</h3>
        <form class="pure-form pure-form-stacked" method="post" action="<%= sails.getUrlFor('CompanyController.changePassword') %>" >
            <fieldset>
                <% flash.get('password').forEach(function (message) { %>
                <div class="form-error">
                    <%= message %>
                </div>
                <% }) %>

                <% flash.get('password-success').forEach(function (message) { %>
                <div class="form-sucess">
                    <%= message %>
                </div>
                <% }) %>
            <label for="password">Mot de passe actuel</label>
            <input class="pure-input-1" type="password" id="password" name="password" placeholder="Mot de passe actuel">

            <label for="newpassword">Nouveau mot de passe</label>
            <input class="pure-input-1" type="password" id="newpassword" name="newpassword" placeholder="Nouveau mot de passe">

            <label for="confirmpassword">Confirmation nouveau mot de passe </label>
            <input class="pure-input-1" type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirmez votre nouveau mot de passe">

            <button style="width: 100%;" type="submit" class="form-button">Enregistrer</button>
            </fieldset>
        </form>
    </div>
    <div class="col-sm-6">
        <h3><i class="fa fa-google"></i>&nbsp;&nbsp;Logo</h3>
        <form id="uploadLogo" class="pure-form pure-form-stacked" enctype="multipart/form-data" action="/file/uploadLogo" method="post" >
            <fieldset>
            <label for="logo">Uploader votre logo</label>
            <% if (typeof company.logoPath !== 'undefined' && company.logoPath !== ''){ %>
                <img src="/images/logos/<%= company.logoPath %>" style="width: 50px; height: auto" /></td>
            <% } else { %>
                <img src="/images/default_logo.png" style="width: 50px; height: auto" /></td>
            <% } %>
            <input class="pure-input-1" type="file" name="logo" accept="image/png">
            <button style="width: 100%;" type="submit" class="form-button">Envoyer</button>
            </fieldset>
        </form>
    </div>
</div>
<p>&nbsp;</p>
<h2><i class="fa fa-info"></i>&nbsp;&nbsp;Informations générales</h2>
<table class="pure-form  pure-table-bordered" style="width: 100%">
  <tr>
    <td><h3>Siret</h3></td>
    <td align="right"><%= company.siret%></td>
  </tr>
  <tr>
    <td><h3>Nom de l'entreprise</h3></td>
    <td align="right"><%= company.companyName%></td>
  </tr>
  <tr>
    <td><h3>Status</h3></td>
    <td align="right"><%= company.status %></td>
  </tr>
  <tr>
    <td><h3>Formule choisie</h3></td>
    <td align="right"><% if (company.sjd == 'on') { %>
        Forum + SJD<% } else { %> Forum <% } %></td>
  </tr>
  <tr>
    <td><h3>Nombre de repas</h3></td>
    <td align="right"><%= company.orderMeals %></td>
  </tr>
  <tr>
    <td><h3>Groupe</h3></td>
    <td align="right"><%= company.companyGroup%></td>
  </tr>
  <tr>
    <td><h3>Description</h3></td>
    <td align="right"><%- company.description%></td>
  </tr>
  <tr>
    <td><h3>Site internet</h3></td>
    <td align="right"><a href="<%= company.websiteUrl%>" target="_blank"><%= company.websiteUrl%></a></td>
  </tr>
  <tr>
    <td><h3>Site de recrutement</h3></td>
    <td align="right"><a href="<%= company.careerUrl%>" target="_blank"><%= company.careerUrl%></a></td>
  </tr>
  <tr>
    <td><h3>Adresse postale</h3> </td>
    <td align="right">
      <%=company.road %><br />
      <% if (typeof company.complementaryInformation != 'undefined' && company.complementaryInformation != "") { %>
        <%= company.complementaryInformation %><br />
      <% } %>
      <%= company.postCode %> <%= company.city %><br />
      <%= company.country %>
    </td>
  </tr>
</table>

<h2>Intérêts</h2>
<p>Voici les domaines de spécialité qui vous intéressent :</p>
<% if (company.IR == 'on') { %><i class="fa fa-check"></i>&nbsp;<b>IR</b> : Informatique et Réseaux<br> <% } %>
<% if (company.AE == 'on') { %><i class="fa fa-check"></i>&nbsp;<b>AE</b> : Automatique, Électronique<br> <% } %>
<% if (company.GP == 'on') { %><i class="fa fa-check"></i>&nbsp;<b>GP</b> : Génie Physique<br> <% } %>
<% if (company.GB == 'on') { %><i class="fa fa-check"></i>&nbsp;<b>GB</b> : Génie Biologique<br> <% } %>
<% if (company.GPE == 'on') { %><i class="fa fa-check"></i>&nbsp;<b>GPE</b> : Génie des Procédés et Environnement<br> <% } %>
<% if (company.GC == 'on') { %><i class="fa fa-check"></i>&nbsp;<b>GC</b> : Génie Civil<br> <% } %>
<% if (company.GM == 'on') { %><i class="fa fa fa-check"></i>&nbsp;<b>GM</b> : Génie Mécanique<br> <% } %>
<% if (company.GMM == 'on') { %><i class="fa fa-check"></i>&nbsp;<b>GMM</b> : Mathématiques appliquées<br> <% } %>

</div>
