<h1>Profil Entreprise</h1>
<p>Je suis le formulaire de modification de l'entreprise !</p>

<h3>Contact Forum</h3>
<table>
  <tr>
    <td>Prénom</td>
    <td><%=firstName%></td>
  </tr>
  <tr>
    <td>Nom</td>
    <td><%=lastName%></td>
  </tr>
  <tr>
    <td>Fonction</td>
    <td><%=position%></td>
  </tr>
  <tr>
    <td>Téléphone</td>
    <td><%=phoneNumber%></td>
  </tr>
  <tr>
    <td>Adresse mail</td>
    <td><%=mailAddress%></td>
  </tr>
</table>

<h3>Contact Facturation</h3>
<table>
  <tr>
    <td>Prénom</td>
    <td><%=bFirstName%></td>
  </tr>
  <tr>
    <td>Nom</td>
    <td><%=bLastName%></td>
  </tr>
  <tr>
    <td>Fonction</td>
    <td><%=bPosition%></td>
  </tr>
  <tr>
    <td>Téléphone</td>
    <td><%=bPhoneNumber%></td>
  </tr>
  <tr>
    <td>Adresse mail</td>
    <td><%=bMailAddress%></td>
  </tr>
</table>

<h3>Profil entreprise</h3>
<table>
  <tr>
    <td>Siret</td>
    <td><%=siret%></td>
  </tr>
  <tr>
    <td>Nom</td>
    <td><%=companyName%></td>
  </tr>
  <tr>
    <td>Group</td>
    <td><%=companyGroup%></td>
  </tr>
  <tr>
    <td>Logo</td>
    <td><img src="/images/logos/<%=logoPath%>" style="width: 32px; height: 32px" /></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%=description%></td>
  </tr>
  <tr>
    <td>Site internet</td>
    <td><%=websiteUrl%></td>
  </tr>
  <tr>
    <td>Site de recrutement</td>
    <td><%=careerUrl%></td>
  </tr>
  <tr>
    <td>Adresse postale</td>
    <td>
      <%=road%><br />
      <%=postCode%> <%=city%><br />
      <%=country%>
    </td>
  </tr>
</table>
