
<style>

    td h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 5px;
    }

    td {
        padding: 10px;
        width: 5%;
    }

    label {
        font-weight: normal;
    }
</style>

<div class="content">
<h1>Profil Entreprise</h1>
<p>Vous pouvez ici modifier votre profil.<br />Pensez à mettre une description et un logo. Ils seront utilisés dans nos supports de communication.</p>
    <% if (!canBook)    { %>
        <div class="well-info">
            Vous ne pouvez pas encore réserver un Speed Job Dating!!<br/>
            Veuillez remplir les champs suivis par <sup style="color:#e42618;">*</sup>
        </div>
    <% } %>

<h2>Contacts</h2>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
        <form class="pure-form pure-form-stacked" method="post" action="/Company/setAUserInfo">
          <input type="hidden" name="data" value="a"/>
          <fieldset>
              <legend>Forum</legend>

              <label for="firstName">Prénom : <%=company.firstName%></label>
              <input class="pure-input-1" type="text" name="firstName" value="<%=company.firstName%>">

              <label for="lastName">Nom : <%=company.lastName%></label>
              <input class="pure-input-1" type="text" name="lastName" value="<%=company.lastName%>">

              <label for="position">Fonction : <%=company.position%></label>
              <input class="pure-input-1" type="text" name="position" value="<%=company.position%>">

              <label for="phoneNumber">Téléphone : <%=company.phoneNumber%></label>
              <input class="pure-input-1" type="text" name="phoneNumber" value="<%=company.phoneNumber%>">

              <label for="mailAddress">Mail : <%= company.mailAddress %></label>
              <input class="pure-input-1" type="text" name="mailAddress" value="<%= company.mailAddress %>">

              <br/>
              <button style="width: 100%;" type="submit" >Enregistrer</button>
          </fieldset>
        </form>
    </div>
    <div class="pure-u-md-1-8"></div>
    <div class="pure-u-1 pure-u-md-1-4">
        <form class="pure-form pure-form-stacked" method="post" action="/Company/setAUserInfo">
          <input type="hidden" name="data" value="f"/>
          <fieldset>
              <legend>Facturation</legend>

              <label for="bFirstName">Prénom<sup class="text-danger">*</sup> : <%= company.bFirstName %></label>
              <input class="pure-input-1" type="text" name="bFirstName" value="<%= company.bFirstName %>">

              <label for="bLastName">Nom<sup class="text-danger">*</sup> : <%= company.bLastName %></label>
              <input class="pure-input-1" type="text" name="bLastName" value="<%= company.bLastName %>">

              <label for="bPosition">Fonction<sup class="text-danger">*</sup> : <%= company.bPosition%></label>
              <input class="pure-input-1" type="text" name="bPosition" value="<%= company.bPosition %>">

              <label for="bPhoneNumber">Téléphone<sup class="text-danger">*</sup> : <%= company.bPhoneNumber %></label>
              <input class="pure-input-1" type="text" name="bPhoneNumber" value="<%= company.bPhoneNumber %>">

              <label for="bMailAddress">Mail<sup class="text-danger">*</sup> : <%= typeof company.bMailAddress == 'undefined' ? '' : company.bMailAddress %></label>
              <input class="pure-input-1" type="text" name="bMailAddress" value="<%= typeof company.bMailAddress == 'undefined' ? '' : company.bMailAddress %>">

              <br/>
              <button style="width: 100%;" type="submit" >Enregistrer</button>
          </fieldset>
        </form>
    </div>
    <div class="pure-u-md-1-8"></div>

</div>

<h2>Mot de passe</h2>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-3">
    <form class="pure-form pure-form-stacked" onsubmit="ModifPass()" action="javascript:ModifPass()">
      <fieldset>
        <label for="OldPassA">Mot de passe actuel</label>
        <input class="pure-input-1" type="password" id="OldPassA" name="OldPassA" placeholder="Mot de passe actuel">

        <label for="NewPassA">Nouveau mot de passe</label>
        <input class="pure-input-1" type="password" id="NewPassA" name="NewPassA" placeholder="Nouveau mot de passe">

        <label for="NewPassB">Confirmation nouveau mot de passe </label>
        <input class="pure-input-1" type="password" id="NewPassB" name="NewPassB" placeholder="Confirmez votre nouveau mot de passe">

        <p id="MsgPassword"></p>
        <button style="width: 100%;" onclick="ModifPass()">Enregistrer</button>
      </fieldset>
    </form>
  </div>
</div>

<h2>Informations générales</h2>
<table class="pure-form  pure-table-bordered" style="width: 100%">
  <tr>
    <td><h3>Siret</h3></td>
    <td><%=company.siret%></td>
    <td>
    </td>
    <td></td>
  </tr>
    <tr>
        <td><h3>Status d'entreprise</h3></td>
        <td><%= company.type %></td>
        <td></td>
        <td></td>
    </tr>
  <tr>
    <td><h3>Nom</h3></td>
    <td><%=company.companyName%></td>
    <form id="companyName" method="post" action="/Company/setAUserInfo">
        <td>
            <input type="hidden" name="data" value="l"/>
            <input  type="text" name="companyName" value="<%= company.companyName %>"/>
        </td>
        <td>
            <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i>
</button>
        </td>

    </form>
  </tr>
  <tr>
    <td><h3>Group</h3></td>
    <td><%=company.companyGroup%></td>
        <form id="companyGroup" method="post" action="/Company/setAUserInfo">
            <td>
                <input type="hidden" name="data" value="m"/>
                <input  type="text" name="companyGroup" value="<%= company.companyGroup %>"/>
            </td>
            <td>
                <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i>
    </button>
            </td>
      </form>
  </tr>

  <tr>
    <td><h3>Logo <sup class="text-danger">*</sup></h3></td>
    <% if (typeof company.logoPath !== 'undefined' && company.logoPath !== ''){ %>
    <td><img src="/images/logos/<%= company.logoPath %>" style="width: 100px; height: auto" /></td>
    <% } else { %>
    <td>-</td>
    <% } %>
      <form id="logoUpload" method="post" action="/file/uploadLogo" enctype="multipart/form-data">
        <td>
          <input type="file" name="logo" accept="image/png"/>
        </td>
        <td>
            <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i>
</button>
        </td>
      </form>
  </tr>
  <tr>
    <td><h3>Description <sup class="text-danger">*</sup></h3></td>
    <td><%- company.description%></td>
    <form id="description" method="post" action="/Company/setAUserInfo">
        <td>
            <input type="hidden" name="data" value="n"/>
            <textarea  type="text" name="description"><%- company.description%></textarea>
            <p><i>*Balises HTML autorisées</i></p>
        </td>
        <td>
            <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
        </td>
    </form>
  </tr>
  <tr>
    <td><h3>Site internet</h3></td>
    <td><a href="<%= company.websiteUrl%>" target="_blank"><%= company.websiteUrl%></a></td>
    <form  id="websiteUrl" method="post" action="/Company/setAUserInfo">
        <td>
            <input type="hidden" name="data" value="o"/>
            <input  type="text" name="websiteUrl" value="<%= company.websiteUrl%>"/>
        </td>
        <td>
            <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i>
</button>
        </td>
    </form>
  </tr>
  <tr>
    <td><h3>Site de recrutement</h3></td>
    <td><a href="<%= company.careerUrl%>" target="_blank"><%= company.careerUrl%></a></td>
    <form  id="careerUrl" method="post" action="/Company/setAUserInfo">
        <td>
            <input type="hidden" name="data" value="p"/>
            <input  type="text" name="careerUrl" value="<%= company.careerUrl%>"/>
        </td>
        <td>
        <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i>
</button>
        </td>
    </form>
  </tr>
  <tr>
    <td><h3>Adresse postale<sup class="text-danger">*</sup></h3> </td>
    <td>
      <%=company.road %><br />
      <% if (typeof company.complementaryInformation != 'undefined' && company.complementaryInformation != "") { %>
        <%= company.complementaryInformation %><br />
      <% } %>
      <%= company.postCode %> <%= company.city %><br />
      <%= company.country %>
    </td>
      <form  id="postAddress" method="post" action="/Company/setAUserInfo">
          <td>
        <input  type="hidden" name="data" value="q"/>
        <input  type="text" name="road" value="<%= company.road %>" placeholder="N° et rue"/><br />
        <input  type="text" name="complementaryInformation" placeholder="Complément"/><br>
        <input  type="text" name="postCode" value="<%= company.postCode %>" placeholder="Code postal"/><br />
        <input  type="text" name="city" value="<%= company.city %>" placeholder="Ville"/><br />
        <input  type="text" name="country" value="<%= company.country %>" placeholder="Pays"/>
    </td>
    <td>
        <button  type="submit" ><i class="fa fa-check" aria-hidden="true"></i>
</button>
</td>
      </form>
  </tr>
</table>

<h2>Intérêts</h2>
<p>Quels sont les profils d'étudiants qui vous intéressent ?</p>
<fieldset style="border:0px">
  <form  id="interests" method="post" action="/Company/setAUserInfo">
    <table>
    <input type="hidden" name="data" value="z"/>
      <tr>
        <td><input type="checkbox" name="IR" id="IR" <%= company.IR? 'checked' : '' %>/><label for="IR">Informatique et Réseaux</label></td>
        <td><input type="checkbox" name="AE" id="AE" <%= company.AE? 'checked' : '' %>/><label for="AE">Génie Automatique et Électronique</label></td>
        <td rowspan="4"><button  type="submit" >Enregistrer</button></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="GP" id="GP" <%= company.GP? 'checked' : '' %>/><label for="GP">Génie Physique</label></td>
        <td><input type="checkbox" name="GB" id="GB" <%= company.GB? 'checked' : '' %>/><label for="GB">Génie Biochimique</label></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="GPE" id="GPE" <%= company.GPE? 'checked' : '' %>/><label for="GPE">Génie des Procédés</label></td>
        <td><input type="checkbox" name="GC" id="GC" <%= company.GC? 'checked' : '' %>/><label for="GC">Génie Civil</label></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="GM" id="GM" <%= company.GM? 'checked' : '' %>/><label for="GM">Génie Mécanique</label></td>
        <td><input type="checkbox" name="GMM" id="GMM" <%= company.GMM? 'checked' : '' %>/><label for="GMM">Génie Mathématiques Appliqués</label></td>
      </tr>
    </table>
  </form>
</fieldset>

</div>

<script type="text/javascript">

  //============= FONCTIONS UTILES =====================

  // Fonction permettant de créer les objets XHR utilisés pour les requêttes AJAX
  function getXMLHttpRequest() {

    var xhr = null;

    if (window.XMLHttpRequest || window.ActiveXObject) {
      if (window.ActiveXObject) {
        try {
          xhr = new ActiveXObject("Msxml2.XMLHTTP");
        } catch(e) {
          xhr = new ActiveXObject("Microsoft.XMLHTTP");
        }
      } else {
        xhr = new XMLHttpRequest();
      }
    }
    else
    {
      alert("Votre navigateur ne supporte pas l'objet XMLHTTPRequest...");
      return null;
    }

    return xhr;
  }

  // =============== VARIABLES GLOBALES ========================
  var AJAXrunning = false;

  // ===========  FONCTIONS DE CHANGEMENT DE MOT de PASSE ======================

  function ModifPass() {
    if (!AJAXrunning) {
      // Récupération des valeurs des mots de passe
      var OldPassA = document.getElementById("OldPassA").value;
      var NewPassA = document.getElementById("NewPassA").value;
      var NewPassB = document.getElementById("NewPassB").value;

      // Récupération des valeurs de mots de passe
      var AJAXreq = getXMLHttpRequest();

      // On démarre le clignotement
      document.getElementById("MsgPassword").animationPlayState = "running";
      document.getElementById("MsgPassword").style.color = "orange";
      document.getElementById("MsgPassword").innerHTML = "Patientez SVP";

      // On informe l'utilisateur de l'envoi de la requêtte
      document.getElementById("MsgPassword").innerHTML = "Veuillez patienter";

      // Envoi de la requêtte AJAX
      AJAXreq.open("POST", "https://foruminsaentreprises.fr/Company/ChangePassword");
      AJAXreq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      AJAXreq.send("OldPassA=" + OldPassA + "&NewPassA=" + NewPassA + "&NewPassB=" + NewPassB);
      AJAXrunning = true;

      // Paramétrage de l'action a lancer en cas de réussite de la requête
      AJAXreq.onreadystatechange = function () {
        if (AJAXreq.readyState == 4 && (AJAXreq.status == 200 || AJAXreq.status == 0)) {

          // On convertit la requette en JSON
          var AJAXresult = JSON.parse(AJAXreq.responseText);

          // On arrete l'anim sur patientez SVP
          document.getElementById("MsgPassword").animationPlayState = "initial";

          // On vide les champs remplis
          document.getElementById("NewPassB").value = "";
          document.getElementById("OldPassA").value = "";
          document.getElementById("NewPassA").value = "";

          // On affiche le message renvoyé par le serveur
          document.getElementById("MsgPassword").innerHTML = AJAXresult.changePassResponse.msg;

          // On choisi la couleur du message
          if (AJAXresult.changePassResponse.succes) {
            document.getElementById("MsgPassword").style.color = "rgb(0,255,0)";
          }
          else {
            document.getElementById("MsgPassword").style.color = "rgb(255,0,0)";
          }

          AJAXrunning = false;

        }
      }
    }
  }

</script>

<style type="text/css">

  #MsgPassword {
    animation-duration:0.5s;
    animation-name:patientez;
    animation-play-state:initial;
  }

  @keyframes patientez {
    0% {opacity:1;}
    50% {opacity:0.3;}
    100% {opactiy:1;}
  }
</style>
