<style>
    td h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 5px;
    }

    td {
        padding-right: 10px;
        width: 5%;
    }

    label {
        font-weight: normal;
    }
</style>

<%
if (typeof bMailAddress == 'undefined')
  bMailAddress = '';

if (typeof complementaryInformation == 'undefined')
  complementaryInformation = '';
%>


<h1>Profil Entreprise</h1>
<p>Je suis le formulaire de modification de l'entreprise !</p>

<h2>Contacts</h2>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
        <form class="pure-form pure-form-stacked">
          <fieldset>
              <legend>Forum</legend>

              <label for="firstName">Prénom : <%=firstName%></label>
              <input class="pure-input-1" type="text" name="firstName" placeholder="<%=firstName%>">

              <label for="lastName">Nom : <%=lastName%></label>
              <input class="pure-input-1" type="text" name="lastName" placeholder="<%=lastName%>">

              <label for="position">Fonction : <%=position%></label>
              <input class="pure-input-1" type="text" name="position" placeholder="<%=position%>">

              <label for="phoneNumber">Téléphone : <%=phoneNumber%></label>
              <input class="pure-input-1" type="text" name="phoneNumber" placeholder="<%=phoneNumber%>">

              <label for="mailAddress">Mail : <%=mailAddress%></label>
              <input class="pure-input-1" type="text" name="mailAddress" placeholder="<%=mailAddress%>">

              <br/>
              <button style="width: 100%;" type="submit" class="pure-button pure-button-primary">Sauvegarder</button>
          </fieldset>
        </form>
    </div>
    <div class="pure-u-md-1-8"></div>
    <div class="pure-u-1 pure-u-md-1-4">
        <form class="pure-form pure-form-stacked">
          <fieldset>
              <legend>Facturation</legend>

              <label for="bFirstName">Prénom : <%=bFirstName%></label>
              <input class="pure-input-1" type="text" name="bFirstName" placeholder="<%=bFirstName%>">

              <label for="bLastName">Nom : <%=bLastName%></label>
              <input class="pure-input-1" type="text" name="bLastName" placeholder="<%=bLastName%>">

              <label for="bPosition">Fonction : <%=bPosition%></label>
              <input class="pure-input-1" type="text" name="bPosition" placeholder="<%=bPosition%>">

              <label for="bPhoneNumber">Téléphone : <%=bPhoneNumber%></label>
              <input class="pure-input-1" type="text" name="bPhoneNumber" placeholder="<%=bPhoneNumber%>">

              <label for="bMailAddress">Mail : <br/><%=bMailAddress%></label>
              <input class="pure-input-1" type="text" name="bMailAddress" placeholder="<%=bMailAddress%>">

              <br/>
              <button style="width: 100%;" type="submit" class="pure-button pure-button-primary">Sauvegarder</button>
          </fieldset>
        </form>
    </div>
</div>

<h2>Profil entreprise</h2>
<table>
  <tr>
    <td><h3>Siret</h3></td>
    <td><%=siret%></td>
    <td>
      <!-- <form id="siret" method="post" action="/Company/setAUserInfo">
        <input type="hidden" name="data" value="k"/>
        <input type="text" name="siret" value="<%=siret%>"/>
        <input type="submit" value="Sauvegarder"/>
      </form> -->
    </td>
  </tr>
  <tr>
    <td><h3>Nom</h3></td>
    <td><%=companyName%></td>
    <td>
        <form class="pure-form" id="companyName" method="post" action="/Company/setAUserInfo">
            <fieldset>
                <input type="hidden" name="data" value="l"/>
                <input class="pure-input-1-2" type="text" name="companyName" value="<%=companyName%>"/>
                <button class="pure-button pure-button-primary" type="submit">Sauvegarder</button>
            </fieldset>
        </form>
    </td>
  </tr>
  <tr>
    <td><h3>Group</h3></td>
    <td><%=companyGroup%></td>
    <td>
        <form class="pure-form" id="companyGroup" method="post" action="/Company/setAUserInfo">
            <fieldset>
                <input type="hidden" name="data" value="m"/>
                <input class="pure-input-1-2" type="text" name="companyGroup" value="<%=companyGroup%>"/>
                <button class="pure-button pure-button-primary" type="submit">Sauvegarder</button>
            </fieldset>
      </form>
    </td>
  </tr>
  <tr>
    <td><h3>Logo</h3></td>
    <% if (typeof logoPath != 'undefined' && logoPath!=''){ %>
    <td><img src="/images/logos/<%=logoPath%>" style="width: 40px; height: auto" /></td>
    <% } else { %>
    <td></td>
    <% } %>
    <td>
      <form class="pure-form" id="logoUpload" method="post" action="/file/uploadLogo" enctype="multipart/form-data">
        <fieldset>
          <input class="pure-input" type="file" name="logo"/>
          <span><i>Taille max :</i> 10 Mo</span>
          <button class="pure-button pure-button-primary" style="float: right; margin-right: 21%" type="submit">Sauvegarder</button>
        </fieldset>
      </form>
    </td>
  </tr>
  <tr>
    <td><h3>Description</h3></td>
    <td><%=description%></td>
    <td>
      <form class="pure-form" id="description" method="post" action="/Company/setAUserInfo">
          <fieldset>
        <input type="hidden" name="data" value="n"/>
        <textarea class="pure-input-1-2" type="text" name="description"><%=description%></textarea>
        <button class="pure-button pure-button-primary" type="submit">Sauvegarder</button>
    </fieldset>
      </form>
    </td>
  </tr>
  <tr>
    <td><h3>Site internet</h3></td>
    <td><a href="<%=websiteUrl%>" target="_blank"><%=websiteUrl%></a></td>
    <td>
      <form class="pure-form" id="websiteUrl" method="post" action="/Company/setAUserInfo">
        <input type="hidden" name="data" value="o"/>
        <input class="pure-input-1-2" type="text" name="websiteUrl" value="<%=websiteUrl%>"/>
        <button class="pure-button pure-button-primary" type="submit">Sauvegarder</button>
    </fieldset>
      </form>
    </td>
  </tr>
  <tr>
    <td><h3>Site de recrutement</h3></td>
    <td><a href="<%=careerUrl%>" target="_blank"><%=careerUrl%></a></td>
    <td>
      <form class="pure-form" id="careerUrl" method="post" action="/Company/setAUserInfo">
          <fieldset>
        <input type="hidden" name="data" value="p"/>
        <input class="pure-input-1-2" type="text" name="careerUrl" value="<%=careerUrl%>"/>
        <button class="pure-button pure-button-primary" type="submit">Sauvegarder</button>
    </fieldset>
      </form>
    </td>
  </tr>
  <tr>
    <td><h3>Adresse postale</h3></td>
    <td>
      <%=road%><br />
      <% if (typeof complementaryInformation != 'undefined' && complementaryInformation != "") { %>
        <%=complementaryInformation%><br />
      <% } %>
      <%=postCode%> <%=city%><br />
      <%=country%>
    </td>
    <td>
      <form class="pure-form" id="postAddress" method="post" action="/Company/setAUserInfo">
          <fieldset>
        <input class="pure-input-1-2" type="hidden" name="data" value="q"/>
        <input class="pure-input-1-2" type="text" name="road" value="<%=road%>" placeholder="N° et rue"/><br />
        <input class="pure-input-1-2" type="text" name="complementaryInformation" placeholder="Complément"/><br>
        <input class="pure-input-1-2" type="text" name="postCode" value="<%=postCode%>" placeholder="Code postal"/><br />
        <input class="pure-input-1-2" type="text" name="city" value="<%=city%>" placeholder="Ville"/><br />
        <input class="pure-input-1-2" type="text" name="country" value="<%=country%>" placeholder="Pays"/>
        <button class="pure-button pure-button-primary" type="submit" >Sauvegarder</button>
    </fieldset>
      </form>
    </td>
  </tr>
</table>

<h2>Intérêts</h2>
<p>Quels sont les profils d'étudiants qui vous intéressent ?</p>
<fieldset style="text-align: center; border:0px">
  <!--<div style="display: flex; justify-content: center">-->
  <form class="pure-form" id="interests" method="post" action="/Company/setAUserInfo">
    <table>
    <input type="hidden" name="data" value="z"/>
      <tr>
        <td><input type="checkbox" name="IR" id="IR" <%=IR%>/><br /><label for="IR">Informatique et Réseaux</label></td>
        <td><input type="checkbox" name="AE" id="AE" <%=AE%>/><br /><label for="AE">Génie Automatique et Électronique</label></td>
        <td><input type="checkbox" name="GP" id="GP" <%=GP%>/><br /><label for="GP">Génie Physique</label></td>
        <td><input type="checkbox" name="GB" id="GB" <%=GB%>/><br /><label for="GB">Génie Biochimique</label></td>
        <td rowspan="2"><button class="pure-button pure-button-primary" type="submit" >Sauvegarder</button></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="GPE" id="GPE" <%=GPE%>/><br /><label for="GPE">Génie des Procédés</label></td>
        <td><input type="checkbox" name="GC" id="GC" <%=GC%>/><br /><label for="GC">Génie Civil</label></td>
        <td><input type="checkbox" name="GM" id="GM" <%=GM%>/><br /><label for="GM">Génie Mécanique</label></td>
        <td><input type="checkbox" name="GMM" id="GMM" <%=GMM%>/><br /><label for="GMM">Génie Mathématiques et Modélisation</label></td>
      </tr>
    </table>
   </form>
  <!--</div>-->
</fieldset>
