
<style>

    td h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 5px;
    }

    td {
        padding: 10px;
        width: 5%;
    }

    label {
        font-weight: normal;
    }
</style>

<div class="content">
<h1>Profil Entreprise</h1>
<p>Vous pouvez ici modifier votre profil.<br />Pensez à mettre une description et un logo. Ils seront utilisés dans nos supports de communication.</p>
    <% if (!canBook)    { %>
        <div class="well-info">
            Vous ne pouvez pas encore réserver un Speed Job Dating!!<br/>
            Veuillez remplir les champs suivis par <sup style="color:#e42618;">*</sup>
        </div>
    <% } %>

<h2>Contacts</h2>
<div class="pure-g">

    <div class="pure-u-1 pure-u-md-1-4">
        <form class="pure-form pure-form-stacked" method="post" action="<%= sails.getUrlFor('CompanyController.update') %>">
          <fieldset>
              <legend>Forum</legend>

              <label for="firstName">Prénom : <%=company.firstName%></label>
              <input class="pure-input-1" type="text" name="firstName" value="<%=company.firstName%>">
              <% flash.get('firstName').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="lastName">Nom : <%=company.lastName%></label>
              <input class="pure-input-1" type="text" name="lastName" value="<%=company.lastName%>">
              <% flash.get('lastName').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="position">Fonction : <%=company.position%></label>
              <input class="pure-input-1" type="text" name="position" value="<%=company.position%>">
              <% flash.get('position').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="phoneNumber">Téléphone : <%=company.phoneNumber%></label>
              <input class="pure-input-1" type="text" name="phoneNumber" value="<%=company.phoneNumber%>">
              <% flash.get('phoneNumber').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="mailAddress">Mail : <%= company.mailAddress %></label>
              <input class="pure-input-1" type="text" name="mailAddress" value="<%= company.mailAddress %>">
              <% flash.get('mailAddress').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <br/>
              <button style="width: 100%;" type="submit" >Enregistrer</button>
          </fieldset>
        </form>
    </div>
    <div class="pure-u-md-1-8"></div>
    <div class="pure-u-1 pure-u-md-1-4">
        <form class="pure-form pure-form-stacked" method="post" action="<%= sails.getUrlFor('CompanyController.update') %>">
          <fieldset>
              <legend>Facturation</legend>

              <label for="bFirstName">Prénom<sup class="text-danger">*</sup> : <%= company.bFirstName %></label>
              <input class="pure-input-1" type="text" name="bFirstName" value="<%= company.bFirstName %>">
              <% flash.get('bFirstName').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="bLastName">Nom<sup class="text-danger">*</sup> : <%= company.bLastName %></label>
              <input class="pure-input-1" type="text" name="bLastName" value="<%= company.bLastName %>">
              <% flash.get('bLastName').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="bPosition">Fonction<sup class="text-danger">*</sup> : <%= company.bPosition%></label>
              <input class="pure-input-1" type="text" name="bPosition" value="<%= company.bPosition %>">
              <% flash.get('bPosition').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="bPhoneNumber">Téléphone<sup class="text-danger">*</sup> : <%= company.bPhoneNumber %></label>
              <input class="pure-input-1" type="text" name="bPhoneNumber" value="<%= company.bPhoneNumber %>">
              <% flash.get('bPhoneNumber').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <label for="bMailAddress">Mail<sup class="text-danger">*</sup> : <%= typeof company.bMailAddress == 'undefined' ? '' : company.bMailAddress %></label>
              <input class="pure-input-1" type="text" name="bMailAddress" value="<%= typeof company.bMailAddress == 'undefined' ? '' : company.bMailAddress %>">
              <% flash.get('bMailAddress').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>

              <br/>
              <button style="width: 100%;" type="submit" >Enregistrer</button>
          </fieldset>
        </form>
    </div>
    <div class="pure-u-md-1-8"></div>

</div>

<h2>Mot de passe</h2>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-3">
    <form class="pure-form pure-form-stacked" method="post" action="<%= sails.getUrlFor('CompanyController.changePassword') %>" >
      <fieldset>
          <% flash.get('password').forEach(function (message) { %>
          <div class="form-error">
              <%= message %>
          </div>
          <% }) %>

          <% flash.get('password-success').forEach(function (message) { %>
          <div class="form-sucess">
              <%= message %>
          </div>
          <% }) %>
        <label for="password">Mot de passe actuel</label>
        <input class="pure-input-1" type="password" id="password" name="password" placeholder="Mot de passe actuel">

        <label for="newpassword">Nouveau mot de passe</label>
        <input class="pure-input-1" type="password" id="newpassword" name="newpassword" placeholder="Nouveau mot de passe">

        <label for="confirmpassword">Confirmation nouveau mot de passe </label>
        <input class="pure-input-1" type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirmez votre nouveau mot de passe">

        <button style="width: 100%;" type="submit">Enregistrer</button>
      </fieldset>
    </form>
  </div>
</div>

<h2>Informations générales</h2>
<table class="pure-form  pure-table-bordered" style="width: 100%">
  <tr>
    <td><h3>Siret</h3></td>
    <td><%=company.siret%></td>
    <td>
    </td>
    <td></td>
  </tr>
    <tr>
        <td><h3>Status d'entreprise</h3></td>
        <td><%= company.type %></td>
        <td></td>
        <td></td>
    </tr>
  <tr>
    <td><h3>Nom</h3></td>
    <td><%=company.companyName%></td>
    <form id="companyName" method="post" action="<%= sails.getUrlFor('CompanyController.update') %>">
        <td>
            <input  type="text" name="companyName" value="<%= company.companyName %>"/>
        </td>
        <% flash.get('companyName').forEach(function (message) { %>
        <div class="form-error">
            <%= message %>
        </div>
        <% }) %>
        <td>
            <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i>
</button>
        </td>

    </form>
  </tr>
  <tr>
    <td><h3>Group</h3></td>
    <td><%=company.companyGroup%></td>
        <form id="companyGroup" method="post" action="<%= sails.getUrlFor('CompanyController.update') %>">
            <td>
                <input  type="text" name="companyGroup" value="<%= company.companyGroup %>"/>
                <% flash.get('companyGroup').forEach(function (message) { %>
                <div class="form-error">
                    <%= message %>
                </div>
                <% }) %>
            </td>
            <td>
                <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i>
    </button>
            </td>
      </form>
  </tr>

  <tr>
    <td><h3>Logo <sup class="text-danger">*</sup></h3></td>
    <% if (typeof company.logoPath !== 'undefined' && company.logoPath !== ''){ %>
    <td><img src="/images/logos/<%= company.logoPath %>" style="width: 100px; height: auto" /></td>
    <% } else { %>
    <td>-</td>
    <% } %>
      <form id="logoUpload" method="post" action="/file/uploadLogo" enctype="multipart/form-data">
        <td>
          <input type="file" name="logo" accept="image/png"/>
        </td>
        <td>
            <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i>
</button>
        </td>
      </form>
  </tr>
  <tr>
    <td><h3>Description <sup class="text-danger">*</sup></h3></td>
    <td><%- company.description%></td>
    <form id="description" method="post" action="<%= sails.getUrlFor('CompanyController.update') %>">
        <td>
            <textarea  type="text" name="description"><%- company.description%></textarea>
            <p><i>*Balises HTML autorisées</i></p>
            <% flash.get('description').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </td>

        <td>
            <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
        </td>
    </form>
  </tr>
  <tr>
    <td><h3>Site internet</h3></td>
    <td><a href="<%= company.websiteUrl%>" target="_blank"><%= company.websiteUrl%></a></td>
    <form  id="websiteUrl" method="post" action="<%= sails.getUrlFor('CompanyController.update') %>">
        <td>
            <input  type="text" name="websiteUrl" value="<%= company.websiteUrl%>"/>
            <% flash.get('websiteUrl').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </td>
        <td>
            <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i>
</button>
        </td>
    </form>
  </tr>
  <tr>
    <td><h3>Site de recrutement</h3></td>
    <td><a href="<%= company.careerUrl%>" target="_blank"><%= company.careerUrl%></a></td>
    <form  id="careerUrl" method="post" action="<%= sails.getUrlFor('CompanyController.update') %>">
        <td>
            <input  type="text" name="careerUrl" value="<%= company.careerUrl%>"/>
            <% flash.get('careerUrl').forEach(function (message) { %>
            <div class="form-error">
                <%= message %>
            </div>
            <% }) %>
        </td>
        <td>
        <button  type="submit"><i class="fa fa-check" aria-hidden="true"></i>
</button>
        </td>
    </form>
  </tr>
  <tr>
    <td><h3>Adresse postale<sup class="text-danger">*</sup></h3> </td>
    <td>
      <%=company.road %><br />
      <% if (typeof company.complementaryInformation != 'undefined' && company.complementaryInformation != "") { %>
        <%= company.complementaryInformation %><br />
      <% } %>
      <%= company.postCode %> <%= company.city %><br />
      <%= company.country %>
    </td>
      <form  id="postAddress" method="post" action="<%= sails.getUrlFor('CompanyController.update') %>">
          <td>
        <input  type="text" name="road" value="<%= company.road %>" placeholder="N° et rue"/><br />
              <% flash.get('road').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>
        <input  type="text" name="complementaryInformation" placeholder="Complément"/><br>
              <% flash.get('complementaryInformation').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>
        <input  type="text" name="postCode" value="<%= company.postCode %>" placeholder="Code postal"/><br />
              <% flash.get('postCode').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>
        <input  type="text" name="city" value="<%= company.city %>" placeholder="Ville"/><br />
              <% flash.get('city').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>
        <input  type="text" name="country" value="<%= company.country %>" placeholder="Pays"/>
              <% flash.get('country').forEach(function (message) { %>
              <div class="form-error">
                  <%= message %>
              </div>
              <% }) %>
    </td>
    <td>
        <button  type="submit" ><i class="fa fa-check" aria-hidden="true"></i>
</button>
</td>
      </form>
  </tr>
</table>

<h2>Intérêts</h2>
<p>Quels sont les profils d'étudiants qui vous intéressent ?</p>
<fieldset style="border:0px">
  <form  id="interests" method="post" action="<%= sails.getUrlFor('CompanyController.update') %>">
    <table>
      <tr>
        <td><input type="checkbox" name="IR" id="IR" <%= company.IR? 'checked' : '' %>/><label for="IR">&nbsp;Informatique et Réseaux</label></td>
        <td><input type="checkbox" name="AE" id="AE" <%= company.AE? 'checked' : '' %>/><label for="AE">&nbsp;Automatique, Électronique</label></td>
        <td rowspan="4"><button  type="submit" >Enregistrer</button></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="GP" id="GP" <%= company.GP? 'checked' : '' %>/><label for="GP">&nbsp;Génie Physique</label></td>
        <td><input type="checkbox" name="GB" id="GB" <%= company.GB? 'checked' : '' %>/><label for="GB">&nbsp;Génie Biologique</label></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="GPE" id="GPE" <%= company.GPE? 'checked' : '' %>/><label for="GPE">&nbsp;Génie des Procédés et Environnement</label></td>
        <td><input type="checkbox" name="GC" id="GC" <%= company.GC? 'checked' : '' %>/><label for="GC">&nbsp;Génie Civil</label></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="GM" id="GM" <%= company.GM? 'checked' : '' %>/><label for="GM">&nbsp;Génie Mécanique</label></td>
        <td><input type="checkbox" name="GMM" id="GMM" <%= company.GMM? 'checked' : '' %>/><label for="GMM">&nbsp;Mathématiques appliquées</label></td>
      </tr>
    </table>
  </form>
</fieldset>

</div>
