<h1>Liste des entreprises <%=year%></h1>

<form method="POST" action="/Student/Companies">
  <label>Afficher les entreprises intéressées par la spécialité </label>
  <select name="speciality" onchange="this.form.submit()">
    <option value="-" selected>-</option>

    <% specialities.forEach(function(aSpeciality) { %>
    <option value="<%= aSpeciality.abbreviation %>"
      <%= selectedSpeciality == aSpeciality.abbreviation ? 'selected' : ''%>><%= aSpeciality.abbreviation%>
    </option>
    <% }); %>
  </select>
  <!-- <input type="submit" class="form-button" value="Afficher"/> -->
</form>

<% if (typeof companies != 'undefined') {
  if (companies.length == 0) { %>
<p>Aucune entreprise trouvée.</p>
<% } else { %>
<table class="table table-hover"  
data-toggle="table"
data-search="true"
data-filter-control="true" 
data-show-export="true"
data-click-to-select="true"
data-toolbar="#toolbar">
  <tr>
    <th style="border-top: none"></th>
    <th style="border-top: none" data-sortable="true">Nom</th>
    <th style="border-top: none">Site internet</th>
    <th style="border-top: none">Spécialités</th>
    <th style="border-top: none">Détails</th>
  </tr>
  <% companies.forEach(function(company) { %>
  <tr style="height: 70px">
    <td>
      <% if (typeof company.logoPath != 'undefined' && company.logoPath != ''){ %>
      <img src="/images/logos/<%=company.logoPath%>" style="max-width: 70px; height: auto; max-height: 70px;" />
      <% } else { %>
      <img src="/images/default_logo.png" style="max-width: 70px; height: auto; max-height: 70px;" />
      <% } %>
    </td>
    <td>
      <%=company.companyName %>
    </td>
    <td>
      <a href="<%=company.websiteUrl%>" target="_blank" class="external-link">
        <i class="fa fa-external-link"></i>&nbsp;&nbsp;<%=company.websiteUrl%>
      </a>
    </td>
    <td>
        <% var count = 0;
        specialities.forEach(function(speciality) { 
          count++;
          if (count === 6) {%><br /> <%}
          if (company[speciality.abbreviation] == 'on') { %>
      <span class="badge progress-bar-selected"><%=speciality.abbreviation%></span>
      <% } else { %>
      <span class="badge progress-bar-disabled"><%=speciality.abbreviation%></span>
      <% }}) %>
    </td>
    <td>
      <a href="/Student/CompanyInfo?siret=<%=company.siret%>"><button class="btn red-button">Voir plus</button></a>
    </td>
  </tr>
  <% }) %>
</table>
<% }}; %>