<h2>Votre profil</h2>

<table>
  <tr>
    <td>Login</td>
    <td><%=login%></td>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td>Prénom</td>
    <td><%=firstName%></td>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td>Nom</td>
    <td><%=lastName%></td>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td>Adresse mail</td>
    <% if (typeof (mailAddress) != 'undefined' && mailAddress != "") { %>
    <td><%=mailAddress%></td>
    <% } else { %>
    <td>
      <form id="mailAddress" method="post" action="/Student/setAUserInfo">
        <input type="hidden" name="data" value="m"/>
        <input type="text" name="mailAddress"/>
        <input type="submit" value="Sauvegarder"/>
      </form>
    </td>
    <% } %>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td>Année</td>
    <% if (typeof (year) != 'undefined' && year != "") { %>
      <td><%=year%></td>
    <% } else { %>
      <td>
        <form id="yearForm" method="post" action="/Student/setAUserInfo">
          <input type="hidden" name="data" value="y"/>
          <select name="year">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input type="submit" value="Sauvegarder"/>
        </form>
      </td>
    <% } %>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td>Spécialité</td>
    <% if (typeof (speciality) != 'undefined' && speciality != "") { %>
    <td><%=speciality%></td>
    <% } else { %>
      <td>
        <form id="specialityForm" method="post" action="/Student/setAUserInfo">
          <input type="hidden" name="data" value="s"/>
          <select name="speciality">
            <% specialities.forEach(function(aSpeciality) { %>
              <option value="<%= aSpeciality %>"><%= aSpeciality%></option>
            <% }); %>
          </select>
          <input type="submit" value="Sauvegarder"/>
        </form>
      </td>
    <% } %>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td>CV francophone</td>
    <% if (typeof (frCVPath) != 'undefined' && frCVPath != "") { %>
      <td>
        <form id="downloadFormFr" method="post" action="/file/download">
          <input type="hidden" name="dl" value="fr" />
          <input type="submit" value="Télécharger" />
        </form></td>
    <% } else { %>
      <td>
        <form id="uploadFormFr"
                enctype="multipart/form-data"
                action="/file/upload"
                method="post">
          <input type="hidden" name="language" value="fr"/>
          <input type="hidden" name="redirect" value="profile"/>
          <input type="file" name="fr-cv" />
          <input type="submit" value="Envoyer"/>
        </form>
      </td>
    <% } %>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td>CV anglophone</td>
    <% if (typeof (enCVPath) != 'undefined' && enCVPath != "") { %>
    <td>
      <form id="downloadFormEn" method="post" action="/file/download">
        <input type="hidden" name="dl" value="en" />
        <input type="submit" value="Télécharger" />
      </form>

    </td>
    <% } else { %>
    <td>
      <form id="uploadFormEn"
            enctype="multipart/form-data"
            action="/file/upload"
            method="post">
        <input type="hidden" name="language" value="en"/>
        <input type="hidden" name="redirect" value="profile"/>
        <input type="file" name="en-cv" />
        <input type="submit" value="Envoyer"/>
      </form>
    </td>
    <% } %>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td>Site internet personnel</td>
    <% if (typeof (personalWebsite) != 'undefined' && personalWebsite != "") { %>
      <td><a href="http://<%=personalWebsite%>"  target="_blank"><%=personalWebsite%></a></td>
    <% } else { %>
    <td>
      <form id="personalWebsite" method="post" action="/Student/setAUserInfo">
        <input type="hidden" name="data" value="w"/>
        http://<input type="text" name="personalWebsite"/>
        <input type="submit" value="Sauvegarder"/>
      </form>
    </td>
    <% } %>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td>Profil Linkedin</td>
    <% if (typeof (linkedin) != 'undefined' && linkedin != "") { %>
      <td><a href="http://<%=linkedin%>"  target="_blank">Voir le profil</a></td>
    <% } else { %>
      <td>
        <form id="linkedinForm" method="post" action="/Student/setAUserInfo">
          <input type="hidden" name="data" value="l"/>
          http://<input type="text" name="linkedin"/>
          <input type="submit" value="Sauvegarder"/>
        </form>
      </td>
    <% } %>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td>Profil Viadeo</td>
    <% if (typeof (viadeo) != 'undefined' && linkedin != "") { %>
      <td><a href="http://<%=viadeo%>"  target="_blank">Voir le profil</a></td>
    <% } else { %>
      <td>
        <form id="viadeoForm" method="post" action="/Student/setAUserInfo">
          <input type="hidden" name="data" value="v"/>
          http://<input type="text" name="viadeo"/>
          <input type="submit" value="Sauvegarder"/>
        </form>
      </td>
    <% } %>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td>Profil GitHub</td>
    <% if (typeof (github) != 'undefined' && linkedin != "") { %>
      <td><a href="http://<%=github%>" target="_blank">Voir le profil</a></td>
    <% } else { %>
      <td>
        <form id="githubForm" method="post" action="/Student/setAUserInfo">
          <input type="hidden" name="data" value="g"/>
          http://<input type="text" name="github"/>
          <input type="submit" value="Sauvegarder"/>
        </form>
      </td>
    <% } %>
  </tr>

</table>
