<style>
    td h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 5px;
        margin-right: 10px;
    }

    #student_profile td {
        margin: 30px;
    }
</style>

<div class="content">
<h1>Mon profil</h1>

<table class="pure-table pure-table-striped" id="student_profile" style="width: 100%; margin: auto;">
  <tr>
    <td><h3>Login</h3></td>
    <td><%=login%></td>
    <td></td>
    <td></td>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td><h3>Prénom</h3></td>
    <td><%=firstName%></td>
    <td></td>
    <td></td>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td><h3>Nom</h3></td>
    <td><%=lastName%></td>
    <td></td>
    <td></td>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td><h3>Adresse mail</h3></td>
    <% if (typeof (mailAddress) != 'undefined' && mailAddress != "") { %>
    <td><%=mailAddress%></td>
    <% } %>
    <form id="mailAddress" method="post" action="/Student/setAUserInfo">
    <td>
        <input type="hidden" name="data" value="m"/>
        <input type="text" placeholder="Modifier" name="mailAddress"/>
    </td>
    <td>
        <button type="submit" class="form-button" class="form-button"><i class="fa fa-check" aria-hidden="true"></i></button>
    </td>
     </form>
    </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td><h3>Année</h3></td>
    <td>
    <% if (typeof (year) != 'undefined' && year != "") { %>
      <%=year%>
    <% } else {%>
        -
    <% } %>
    </td>

        <form id="yearForm" method="post" action="/Student/setAUserInfo">
            <td>
                <input type="hidden" name="data" value="y"/>
                    <select name="year">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    </select>
            </td>
            <td>
                <button type="submit" class="form-button" ><i class="fa fa-check" aria-hidden="true"></i></button>
            </td>
        </form>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td><h3>Spécialité</h3></td>
    <td>
    <% if (typeof (speciality) != 'undefined' && speciality != "") { %>
    <%=speciality%>
    <% } else {%>
        -
    <% } %>
    </td>
    <form id="specialityForm" method="post" action="/Student/setAUserInfo">
        <td>
            <input type="hidden" name="data" value="s"/>
            <select name="speciality">
            <% specialities.forEach(function(aSpeciality) { %>
              <option value="<%= aSpeciality %>"><%= aSpeciality%></option>
            <% }); %>
            </select>
        </td>
        <td>
            <button type="submit" class="form-button" ><i class="fa fa-check" aria-hidden="true"></i></button>
        </td>
    </form>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td><h3>CV francophone</h3></td>

    <form id="downloadFormFr" method="post" action="/file/download">
        <td>
          <input type="hidden" name="dl" value="fr" />
          <input type="submit" class="form-button"
          <% if (typeof (frCVPath) == 'undefined' || frCVPath == "") { %>
              disabled
          <% } %>
               value="Télécharger" />
        </td>
    </form>

    <form id="uploadFormFr"
            enctype="multipart/form-data"
            action="/file/uploadCV"
            method="post">
        <td>
          <input type="hidden" name="language" value="fr"/>
          <input type="hidden" name="redirect" value="profile"/>
          <input type="file" name="fr-cv" accept=".pdf"/>
        </td>
        <td>
            <button type="submit" class="form-button" ><i class="fa fa-check" aria-hidden="true"></i></button>
        </td>
    </form>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td><h3>CV anglophone</h3></td>
    <form id="downloadFormEn" method="post" action="/file/download">
        <td>
          <input type="hidden" name="dl" value="en" />
          <input type="submit" class="form-button"
          <% if (typeof (enCVPath) == 'undefined' || enCVPath == "") { %>
              disabled
          <% } %>
               value="Télécharger" />
        </td>
    </form>
    <form id="uploadFormEn"
            enctype="multipart/form-data"
            action="/file/uploadCV"
            method="post">
        <td>
          <input type="hidden" name="language" value="en"/>
          <input type="hidden" name="redirect" value="profile"/>
          <input type="file" name="en-cv" accept=".pdf"/>
        </td>
        <td>
            <button type="submit" class="form-button" ><i class="fa fa-check" aria-hidden="true"></i></button>
        </td>
    </form>
  </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td><h3>Site internet personnel</h3></td>
    <td>
    <% if (typeof (personalWebsite) != 'undefined' && personalWebsite != "") { %>
      <a href="<%=personalWebsite%>"  target="_blank">Voir le site</a>
    <% } else { %>
      -
    <% } %>
    </td>
    <form id="personalWebsite" method="post" action="/Student/setAUserInfo">
        <td>
            <input type="hidden" name="data" value="w"/>
            <input type="text" placeholder="ex: http://beaugossdu31.fr" name="personalWebsite"/>
        </td>
        <td>
            <button type="submit" class="form-button" ><i class="fa fa-check" aria-hidden="true"></i></button>
        </td>
    </form>
    </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td><h3>Profil Linkedin</h3></td>
    <td>
    <% if (typeof (linkedin) != 'undefined' && linkedin != "") { %>
      <a href="<%=linkedin%>"  target="_blank">Voir le profil</a>
    <% } else { %>
        -
    <% } %>
    </td>
    <form id="linkedinForm" method="post" action="/Student/setAUserInfo">
        <td>
            <input type="hidden" name="data" value="l"/>
            <input type="text" placeholder="https://www.linkedin.com/..." name="linkedin"/>
        </td>
        <td>
            <button type="submit" class="form-button" ><i class="fa fa-check" aria-hidden="true"></i></button>
        </td>
    </form>
    </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td><h3>Profil Viadeo</h3></td>
    <td>
    <% if (typeof (viadeo) != 'undefined' && viadeo != "") { %>
      <a href="<%=viadeo%>"  target="_blank">Voir le profil</a>
      <% } else { %>
          -
      <% } %>
      </td>
      <form id="viadeoForm" method="post" action="/Student/setAUserInfo">
          <td>
              <input type="hidden" name="data" value="v"/>
              <input type="text" placeholder="http://fr.viadeo.com/..." name="viadeo"/>
          </td>
          <td>
              <button type="submit" class="form-button" ><i class="fa fa-check" aria-hidden="true"></i></button>
          </td>
      </form>
      </tr>
  <!-- ------------------------------------------- -->
  <tr>
    <td><h3>Profil GitHub</h3></td>
    <td>
    <% if (typeof (github) != 'undefined' && github != "") { %>
      <a href="<%=github%>" target="_blank">Voir le profil</a>
      <% } else { %>
          -
      <% } %>
      </td>
      <form id="githubForm" method="post" action="/Student/setAUserInfo">
          <td>
              <input type="hidden" name="data" value="g"/>
              <input type="text" placeholder="https://github.com/..." name="github"/>
          </td>
          <td>
              <button type="submit" class="form-button" ><i class="fa fa-check" aria-hidden="true"></i></button>
          </td>
      </form>
      </tr>

</table>

<br/>

<h2>Inscription SJD</h2>

<table class="pure-table pure-table-striped" id="student_profile" style="width: 100%; margin: auto;">
    <% if (typeof wishes!== 'undefined') { %>
        <tr>
            <td><h3>Voeu 1</h3></td>
            <td><%= wishes.wish1 %></td>
        </tr>
        <tr>
            <td><h3>Voeu 2</h3></td>
            <td><%= wishes.wish2 %></td>
        </tr>
        <tr>
            <td><h3>Voeu 3</h3></td>
            <td><%= wishes.wish3 %></td>
        </tr>
    <% } else { %>
        <tr>
            <td><h3>Pas de voeux effectués</h3></td>
            <td></td>
        </tr>
    <% } %>
</table>

<br/>

<h2>Inscription Ateliers</h2>

<table class="pure-table pure-table-striped" id="student_profile" style="width: 100%; margin: auto;">
    <% if (typeof workshops!== 'undefined') { %>
        <tr>
            <td><h3>Atelier 1</h3></td>
            <td><%= workshops.wish1 %></td>
        </tr>
    <% } else { %>
        <tr>
            <td><h3>Pas d'ateliers choisis</h3></td>
            <td></td>
        </tr>
    <% } %>
</table>

<br/>
<br/>

</div>
