<h2>Votre profil</h2>

<table>
  <tr>
    <td>Login</td>
    <td><%=login%></td>
  </tr>
  <tr>
    <td>Prénom</td>
    <td><%=firstName%></td>
  </tr>
  <tr>
    <td>Nom</td>
    <td><%=lastName%></td>
  </tr>
  <tr>
    <td>Adresse mail</td>
    <td><%=mailAddress%></td>
  </tr>
  <tr>
    <td>Année</td>
    <td><%=year%></td>
  </tr>
  <tr>
    <td>Spécialité</td>
    <td><%=speciality%></td>
  </tr>
  <tr>
    <td>CV francophone</td>
    <% if (typeof (frCVPath) != 'undefined') { %>
      <td><a href="<%=frCVPath%>"><%=frCVPath%></a></td>
    <% } else { %>
      <td>
        <form id="uploadForm"
                enctype="multipart/form-data"
                action="/file/upload"
                method="post">
          <input type="hidden" name="language" value="fr"/>
          <input type="file" name="fr-cv" />
          <input type="submit" value="submit"/>
        </form>
      </td>
    <% } %>
  </tr>
  <tr>
    <td>CV anglophone</td>
    <% if (typeof (enCVPath) != 'undefined') { %>
    <td><a href="<%=enCVPath%>"><%=enCVPath%></a></td>
    <% } else { %>
    <td>
      <form id="uploadForm"
            enctype="multipart/form-data"
            action="/file/upload"
            method="post">
        <input type="hidden" name="language" value="en"/>
        <input type="file" name="en-cv" />
        <input type="submit" value="submit"/>
      </form>
    </td>
    <% } %>
  </tr>
  <tr>
    <td>Site internet personnel</td>
    <% if( typeof (personalWebsite) != 'undefined') { %>
      <td><a href="<%=personalWebsite%>"><%=personalWebsite%></a></td>
    <% } else { %>
      <td>Faut mettre votre site ...</td>
    <% } %>
  </tr>
  <tr>
    <td>Profil Linkedin</td>
    <td><a href="<%=linkedin%>"><%=linkedin%></a></td>
  </tr>
  <tr>
    <td>Profil Viadeo</td>
    <td><a href="<%=viadeo%>"><%=viadeo%></a></td>
  </tr>
  <tr>
    <td>Profil GitHub</td>
    <td><a href="<%=github%>"><%=github%></a></td>
  </tr>

</table>
