<style>
  tr.border td {
    border: 1px solid lightgray;
  }

  .modal-backdrop {
    /* bug fix - no overlay */
    display: none;
  }
</style>

<div class="content">



  <h1>Inscription Ateliers</h1>

  <p>
    Cette année, vous avez aussi la possibilité d'assister à des <b>ateliers</b> qui vous permettront
    d'améliorer vos compétences dans le domaine de la recherche de stage et de travail.
  </p>
  <p>
    Ces ateliers sont à capacité limitée, et vous avez la possiblité d'en sélectionner plusieurs.
    L'inscription est définitive, donc veillez à faire les bons choix pour ne pas pénaliser ceux qui auraient
    voulu s'inscrire à votre place !
  </p>

  <br />
  <div class="section">
    <h2>Vos choix d'ateliers</h2>

    <% if (student.workshopRegistered) { %>
    <% if (typeof wishes!== 'undefined') { %>
    <p>Vous êtes déjà inscrit. Voici les ateliers auxquels vous vous êtes inscrits :</p>

    <table class="table table-hover" id="student_profile" style="width: 100%; margin: auto;">

      <% wishes.workshops.forEach(function(wish) {
          workshop.forEach(function(w) {
            if (w.abbreviation == wish) { %>
      <tr>
        <td>
          <div class="checkbox">
            <label><input type="checkbox" checked disabled name="<%= w.abbreviation %>">
              <%= w.name %><br /><%= " (" + w.startHour + "-" + w.endHour + ")" %></b>
            </label>
          </div>
        </td>
        <td>
          <span class="btn red-button" id="details-<%=w.abbreviation%>"
            onclick="$('#show-dialog-<%=w.abbreviation%>').modal();">Détails</span>
        </td>
        <div class="modal" id="show-dialog-<%=w.abbreviation%>">
          <!-- Modal content -->
          <div class="modal-details">
            <div class="modal-section">
              <h3><%= w.name%></h3>
              <small style=color:#999">
                <i class="fa fa-map-marker"></i>&nbsp;En <%= w.location%>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= w.places%> places disponibles
                <br />
                <i class="fa fa-clock-o"></i>&nbsp;De <%= w.startHour%> à <%= w.endHour%>
                <br />
              </small>
              <br />
            </div>
            <div class="modal-section">
              <p><%- w.description%></p>
            </div>
            <br />
            <div style="text-align: center">Atelier <i>by</i> <%=w.organizer%></div>
            <br />
          </div>
        </div>
      </tr>
      <% }})}) %>
    </table>
    <% } } else { %>

    <form role="form" class="form-horizontal" method="POST"
      action="<%= sails.getUrlFor('WorkshopWishController.create') %>">
      <input type="hidden" name="login" value="<%= student.login %>" />
      <input type="hidden" name="firstName" value="<%= student.firstName %>" />
      <input type="hidden" name="lastName" value="<%= student.lastName %>" />
      <input type="hidden" name="mail" value="<%= student.mailAddress %>" />
      <input type="hidden" name="year" value="<%= student.year %>" />
      <input type="hidden" name="speciality" value="<%= student.speciality %>" />
      <table class="table table-hover" id="student_profile" style="width: 100%; margin: auto;">

        <% theme = [];
          details = "JIS_lancer";
          workshop.forEach(function(aWorkshop) {
            if (!theme.includes(aWorkshop.theme)) { %>
        <tr>
          <td colspan="4"><br />
            <h4><%=aWorkshop.theme%></h4>
          </td>
        </tr>
        <% theme.push(aWorkshop.theme);
      workshop.forEach(function(workshopThemed) {
          if (workshopThemed.theme == aWorkshop.theme) { %>
        <tr>
          <td>
            <div class="checkbox">
              <label><input type="checkbox" <% if (workshopThemed.freePlaces == 0) { %>disabled <% } %>
                  name="<%= workshopThemed.abbreviation %>">
                <%= workshopThemed.name %><br /><b><%= " (" + workshopThemed.startHour + "-" + workshopThemed.endHour + ")" %></b>
                <% if (workshopThemed.freePlaces == 0) { %><span style="color: red;"> COMPLET</span><% } %>
              </label>
            </div>
          </td>
          <td align="right">
            <div>
              <label>
                <span style="color: #333; font: bold">
                  <%= workshopThemed.freePlaces %> place(s) restantes /<%= workshopThemed.places %>
                </span>
              </label>
            </div>
          </td>
          <td>
            <span class="btn red-button" id="details-<%=workshopThemed.abbreviation%>"
              onclick="$('#show-dialog-<%=workshopThemed.abbreviation%>').modal();">Détails</span>
            <div class="modal" id="show-dialog-<%=workshopThemed.abbreviation%>">
              <!-- Modal content -->
              <div class="modal-details">
                <div class="modal-section">
                  <h3><%= workshopThemed.name%></h3>
                  <small style=color:#999">
                    <i class="fa fa-map-marker"></i>&nbsp;En <%= workshopThemed.location%>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= workshopThemed.places%> places disponibles
                    <br />
                    <i class="fa fa-clock-o"></i>&nbsp;De <%= workshopThemed.startHour%> à <%= workshopThemed.endHour%>
                  </small>
                </div>
                <div class="modal-section">
                  <p><%- workshopThemed.description%></p>
                </div>
                <div style="text-align: center">Atelier <i>by</i> <%=workshopThemed.organizer%></div>
                <br />
              </div>
            </div>
          </td>
        </tr>
        <%}})%>
        <%}
    });%>
      </table>

      <div align="center">
        <button type="submit" class="form-button"><i class="fa fa-check" aria-hidden="true"></i> Enregistrer</button>
      </div>
    </form>

    <% } %>
  </div>
</div>


<script>/*
$(document).ready(function(){
    $("#details-"+workshop.abbreviation).on("click", function(){ $("#show-dialog-"+workshop.abbreviation).modal();
  });
});*/
</script>