<section class="content-header">
    <h1>Paramètre général</h1>
    <ol class="breadcrumb">
        <li><a href="<%= sails.getUrlFor('AdminController.home') %>"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Paramètre général du site</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Configuration pour l'année <%= year %> </h3>
                </div>
                <form role="form" class="form-horizontal" method="POST" action="<%= sails.getUrlFor('Admin/SettingsController.updateYearSettings') %>">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-8 control-label">Prix pour un repas supplémentaire</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="mealPrice" value="<%= yearSettings.mealPrice %>" required/>
                                    <span class="input-group-addon">€</span>
                                </div>
                            </div>
                        </div>
                        <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Pour les entreprises classiques
                        </h4>
                        <div class="form-group">
                            <label for="description" class="col-sm-8 control-label">Prix Forum</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="forumPrice" value="<%= yearSettings.forumPrice %>" required>
                                    <span class="input-group-addon">€</span>
                                </div></div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-8 control-label">Prix Forum + SJD</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="sjdPrice" value="<%= yearSettings.sjdPrice %>" required>
                                    <span class="input-group-addon">€</span>
                                </div></div>
                        </div>
                        <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Pour les Start-up/PME
                        </h4>
                        <div class="form-group">
                            <label for="description" class="col-sm-8 control-label">Prix Forum</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="forumPricePME" value="<%= yearSettings.forumPricePME %>" required>
                                    <span class="input-group-addon">€</span>
                                </div></div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-8 control-label">Prix Forum + SJD</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="sjdPricePME" value="<%= yearSettings.sjdPricePME %>" required>
                                    <span class="input-group-addon">€</span>
                                </div></div>
                        </div>
                        <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Pour les organismes de recherche
                        </h4>
                        <div class="form-group">
                            <label for="description" class="col-sm-8 control-label">Prix Forum</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="forumPriceResearch" value="<%= yearSettings.forumPriceResearch %>" required>
                                    <span class="input-group-addon">€</span>
                                </div></div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-8 control-label">Prix Forum + SJD</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="sjdPriceResearch" value="<%= yearSettings.sjdPriceResearch %>" required>
                                    <span class="input-group-addon">€</span>
                                </div></div>
                        </div>
                        <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                            Pour les entreprises de la fondation INSA Toulouse
                        </h4>
                        <div class="form-group">
                            <label for="description" class="col-sm-8 control-label">Prix Forum</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="forumPriceFoundation" value="<%= yearSettings.forumPriceFoundation %>" required>
                                    <span class="input-group-addon">€</span>
                                </div></div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-8 control-label">Prix Forum + SJD</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="sjdPriceFoundation" value="<%= yearSettings.sjdPriceFoundation %>" required>
                                    <span class="input-group-addon">€</span>
                                </div></div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="reset" class="btn btn-success pull-left">Réinitialiser</button>
                        <button type="submit" class="btn btn-info pull-right">Sauvegarder</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Configuration pour le site</h3>
                </div>
                <form role="form" method="POST" action="<%= sails.getUrlFor('Admin/SettingsController.updateGeneralSettings') %>">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Date limite d'inscription</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" type="date" value="<%= generalSettings.inscriptionDeadline%>">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">Sauvegarder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

