<section class="content-header">
    <h1>Paramètre interne</h1>
    <ol class="breadcrumb">
        <li><a href="<%= sails.getUrlFor('AdminController.home') %>"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="<%= sails.getUrlFor('Admin/OfferController.listing') %>">Propositions</a></li>
        <li><a href="#">Modification de proposition</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Proposition <%= offer.name %> </h3>
                </div>
                <form role="form" class="form-horizontal" method="POST" action="/admin/offer/<%= offer.id %>">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Nom</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control" placeholder="Ex: pack, premium" <% if(offer.name) { %> value="<%= offer.name %>" <% } %>>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Prix</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="number" class="form-control" name="price" <% if(offer.price) { %> value="<%= offer.price %>" <% } %> >
                                    <span class="input-group-addon">€</span>
                                </div></div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input type="text" name="description" class="form-control" placeholder="Ex: <strong>D</strong>escription" <% if(offer.description) { %> value="<%= offer.description%>" <% } %> >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Filtre</label>
                            <div class="col-sm-10">
                                <% allStatus.forEach(function(status) { %>
                                <div class="col-md-4">
                                    <label>
                                        <input type="checkbox" class="flat-red" name="allow" value="<%= status.name %>" <%= offer.allow && offer.allow.filter(function(a){return a.id === status.id;}).length > 0 ? 'checked' : '' %>>
                                        <%= status.name %>
                                    </label>
                                </div>
                                <% }); %>
                            </div>
                            <div class="col-sm-offset-2 col-sm-10"><p class="help-block">Seuls les entreprises disposant le status coché peut voir cette offre.</p></div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="reset" class="btn btn-success pull-left">Réinitialiser</button>
                        <button type="submit" class="btn btn-info pull-right">Sauvegarder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<link href="/plugins/iCheck/flat/red.css" rel="stylesheet">
<script type="text/javascript" src="/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function() {
        $('input[type="checkbox"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-red'
        })
    })
</script>