<section class="content-header">
    <h1><i class="fa fa-code"></i> Paramètre de contenu</h1>
    <ol class="breadcrumb">
        <li><a href="<%= sails.getUrlFor('AdminController.home') %>"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Ateliers</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Ateliers</h3>
                    <div class="box-tools">
                        <a href="<%= sails.getUrlFor('Admin/WorkshopController.create') %>" class="btn btn-primary"><i class="fa fa-plus"></i> Créer un nouveau</a>
                    </div>
                </div>
                <div class="box-body">
                    <%- partial('../templateDatatable/Workshop.ejs') %>
                </div>
            </div>
        </div>
    </div>
</section>

<link href="/dependencies/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
<script src="/dependencies/bootstrap-switch/js/bootstrap-switch.min.js"></script>

<script>
$(document).ready(function() {
    let datatable = $('#datatable').DataTable( {
        responsive: true,
        ajax: {
            'url': "<%= sails.getUrlFor('Admin/WorkshopController.apiGetAll') %>",
            'dataSrc': ''
        },
        columns: [
            { 'data': "abbreviation" },
            { 'data': "name" },
            { 'data': "organizer" },
            { 'data': "startHour" },
            { 'data': "endHour" },
            { 'data': "places" },
            { 'data': "freePlaces" },
            { 'data': null,
                'render': function(data, type, full, meta)  {
                    return '<button class="btn btn-danger delete"><i class="fa fa-trash"></i> Supprimer</button>';
                }
            }
        ]

    } );

    $(document).on('click', 'button.delete', function() {

        let row = datatable.row( $(this).parents('tr') );
        let data = row.data();

        $.ajax({
            url: '<%= sails.getUrlFor("Admin/WorkshopController.apiDelete") %>',
            type: 'POST',
            data: {
                abbreviation: data.abbreviation
            },
            success: function(data, status, xhr) {
                toastr.success(data.msg);
                row.remove().draw();
            },
            error: function(jqXHR, status, err) {
                if(jqXHR.responseJSON.msg)
                    toastr.warning(jqXHR.responseJSON.msg);
                else
                    toastr.error(err);
            }
        })
    });


} );
</script>
