<!-- Morris chart -->
<link rel="stylesheet" href="/dependencies/morris.js/morris.css">
<!-- jvectormap -->
<link rel="stylesheet" href="/dependencies/jvectormap/jquery-jvectormap.css">
<!-- Date Picker -->
<link rel="stylesheet" href="/dependencies/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="/dependencies/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1><i class="fa fa-dashboard"></i>
    Accueil
    <small>Bienvenue, administrateurs du FBI (Forum by INSA)</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <% i = 0; companies.forEach(function(company){ i++ }); %>
          <h3><i class="fa fa-briefcase"></i>&nbsp;&nbsp;<%= i %></h3>
          <p>Entreprises inscrites cette année</p>

          <% s = 0; r = 0; f = 0; c = 0; a = 0;
          companies.forEach(function(company){
              if (company.status === 'Start-up/PME') s++; 
              else if (company.status === 'Organisme de recherche') r++; 
              else if (company.status === 'Entreprise Fondation INSA Toulouse') f++;  
              else if (company.status === 'Entreprise classique') c++;
              a = c+f+r+s;
            }); %>
          <br />
          <div style="position:relative;height:32px;margin:2px;">
            <div style="width: <%= c*100/a %>%; background:white;height:4px;position:absolute; margin-top:28px;border-radius:2px"></div>
            <p style="position:absolute; padding:4px"><%= c %> entreprises classiques</p>
          </div>
          <div style="position:relative;height:32px;margin:2px;">
            <div style="width: <%= f*100/a %>%; background:white;height:4px;position:absolute; margin-top:28px;border-radius:2px"></div>
            <p style="position:absolute; padding:4px"><%= f %> entreprises Fondation INSA Toulouse</p>
          </div>
          <div style="position:relative;height:32px;margin:2px;">
            <div style="width: <%= r*100/a %>%; background:white;height:4px;position:absolute; margin-top:28px;border-radius:2px"></div>
            <p style="position:absolute; padding:4px"><%= r %> organismes de recherche</p>
          </div>
          <div style="position:relative;height:32px;margin:2px;">
            <div style="width: <%= s*100/a %>%; background:white;height:4px;position:absolute; margin-top:28px;border-radius:2px"></div>
            <p style="position:absolute; padding:4px"><%= s %> PME et Start-up</p>
          </div>
        </div>
        <a href="#" class="small-box-footer">Liste entreprises <i class="fa fa-arrow-circle-right"></i></a>
      </div>

      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <% i = 0; 
          year = new Date().getFullYear();
          allCompanies.forEach(function(company){ i++ 
          }); %>
          <h3><i class="fa fa-briefcase"></i>&nbsp;&nbsp;<%= i %> </h3>
          <p>Entreprises connues (toutes années confondues)</p>
        </div>
        <a href="#" class="small-box-footer">Liste entreprises <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <% ae = 0; gb = 0; gc = 0; gm = 0; gmm = 0; gp = 0; gpe = 0; ir = 0; is = 0; no = 0; one = false;
          companies.forEach(function(company){
            if (company.AE === 'on') { ae++; one = true; }
            if (company.GB === 'on') { gb++; one = true; }
            if (company.GC === 'on') { gc++; one = true; }
            if (company.GM === 'on') { gm++; one = true; }
            if (company.GMM=== 'on') { gmm++;one = true; }
            if (company.IR === 'on') { ir++; one = true; }
            if (company.GP === 'on') { gp++; one = true; }
            if (company.GPE=== 'on') { gpe++;one = true; }
            if (company.IS=== 'on') { is++;one = true; }
            if (!one) no++;
            one = false;
          }); %>
          <h3><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp; Spé' </h3>
          <p>Les spécialités qui intéressent les entreprises</p>
          <br/>
          <div style="margin:2px;">
              <div style="display: inline-block;width: 40px;">AE</div>
              <div style="display: inline-block;width: <%= ae*10 %>px; background:white;height:20px;color:green;border-radius:2px;padding:2px;"><%= ae %></div>
          </div>
          <div style="margin:2px;">
              <div style="display: inline-block;width: 40px;">GB</div>
              <div style="display: inline-block;width: <%= gb*10 %>px; background:white;height:20px;color:green;border-radius:2px;padding:2px;"><%= gb %></div>
          </div><div style="margin:2px;">
              <div style="display: inline-block;width: 40px;">GC</div>
              <div style="display: inline-block;width: <%= gc*10 %>px; background:white;height:20px;color:green;border-radius:2px;padding:2px;"><%= gc %></div>
          </div><div style="margin:2px;">
              <div style="display: inline-block;width: 40px;">GM</div>
              <div style="display: inline-block;width: <%= gm*10 %>px; background:white;height:20px;color:green;border-radius:2px;padding:2px;"><%= gm %></div>
          </div><div style="margin:2px;">
              <div style="display: inline-block;width: 40px;">GMM</div>
              <div style="display: inline-block;width: <%= gmm*10 %>px; background:white;height:20px;color:green;border-radius:2px;padding:2px;"><%= gmm %></div>
          </div><div style="margin:2px;">
              <div style="display: inline-block;width: 40px;">GP</div>
              <div style="display: inline-block;width: <%= gp*10 %>px; background:white;height:20px;color:green;border-radius:2px;padding:2px;"><%= gp %></div>
          </div><div style="margin:2px;">
              <div style="display: inline-block;width: 40px;">GPE</div>
              <div style="display: inline-block;width: <%= gpe*10 %>px; background:white;height:20px;color:green;border-radius:2px;padding:2px;"><%= gpe %></div>
          </div><div style="margin:2px;">
              <div style="display: inline-block;width: 40px;">IR</div>
              <div style="display: inline-block;width: <%= ir*10 %>px; background:white;height:20px;color:green;border-radius:2px;padding:2px;"><%= ir %></div>
            </div><div style="margin:2px;">
                <div style="display: inline-block;width: 40px;">IS</div>
                <div style="display: inline-block;width: <%= is*10 %>px; background:white;height:20px;color:green;border-radius:2px;padding:2px;"><%= is %></div>
          </div><div style="margin:2px;">
              <div style="display: inline-block;width: 40px;"><b>Zéro !</b></div>
              <div style="display: inline-block;width: <%= no*10 %>px; background:white;height:20px;color:green;border-radius:2px;padding:2px;"><%= no %></div>
          </div>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- NB STANDS -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <% stands = 0; spe = 0; sjd = 0;
            sells.forEach(function(sell){ 
            switch(sell.orderOption) {
              case "Stand Forum":       stands++;        break;
              case "Stand Forum + SJD": stands++; sjd++; break;
              case "Stand Forum XL":    spe++;           break;
              case "Stand Forum x2":    stands+=2;       break;
            }}); %>
          <h3><i class="fa fa-map-pin"></i>&nbsp;&nbsp;<%= stands %></h3>
          <p>Stands réservés cette année<br /><br />+ <%= s %> stands Start-up<br />+ <%= spe %> stand spécial </p>
        </div>
        <a href="#" class="small-box-footer">Factures <i class="fa fa-arrow-circle-right"></i></a>
      </div>
      <!-- NB STANDS -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><i class="fa fa-comments"></i>&nbsp;&nbsp;<%= sjd %></h3>
          <p>Entreprises inscrites aux SJD </p>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- NB MEALS -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <% meals = 0; sells.forEach(function(sell){ meals+=sell.orderMeals; }); %>
          <h3><i class="fa fa-glass"></i>&nbsp;&nbsp;<%= meals %></h3>
          <p>Repas commandés cette année</p>
        </div>
        <a href="#" class="small-box-footer">Factures <i class="fa fa-arrow-circle-right"></i></a>
      </div>

      <!-- NB MONEY -->
      <div class="small-box bg-green">
          <div class="inner">
            <% money = 0; sells.forEach(function(sell){ money+=sell.optionPrice + sell.orderMeals*sell.mealPrice; }); %>
            <h3><i class="fa fa-money"></i>&nbsp;&nbsp;<%= money %><sup>€</sup></h3>
            <p>Facturation aux entreprises cette année</p>
          </div>
          <a href="#" class="small-box-footer">Factures <i class="fa fa-arrow-circle-right"></i></a>
        </div>

    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">
      


    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">

      

    </section>
    <!-- right col -->
  </div>
  <!-- /.row (main row) -->

</section>
<!-- /.content -->

<!-- Morris.js charts -->
<script src="/dependencies/raphael/raphael.min.js"></script>
<script src="/dependencies/morris.js/morris.min.js"></script>
<!-- Sparkline -->
<script src="dependencies/jquery-sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="dependencies/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/dependencies/bootstrap-daterangepicker/moment.min.js"></script>
<script src="/dependencies/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="/dependencies/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="/dependencies/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/dependencies/fastclick/fastclick.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/adminLTE/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/js/adminLTE/demo.js"></script>