<section class="content-header">
    <h1>Gestion des ventes</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Ventes</a></li>
        <li><a href="#">Modifier vente</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Vente id <%= sell.id %></h3>
                </div>
                <form role="form" class="form-horizontal" method="POST" action="/admin/sell/<%= sell.id %>">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="year" class="col-sm-3 control-label">Année</label>
                            <div class="col-sm-9">
                                <input type="number" name="year" class="form-control" placeholder="Année" value="<%= sell.year%>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="year" class="col-sm-3 control-label">Numéro siret</label>
                            <div class="col-sm-9">
                                <input type="text" name="companySiret" class="form-control" placeholder="Numéro siret" value="<%= sell.companySiret%>" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="year" class="col-sm-3 control-label">Nom d'entreprise</label>
                            <div class="col-sm-9">
                                <input type="text" name="companyName" class="form-control" placeholder="Nom d'entreprise" value="<%= sell.companyName%>">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="forum" <% if (sell.forum == 'on') { %> value="on" checked <% } else { %> value="off" <% } %> >
                                        Forum : <%= sell.forumPrice %> €
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="sjd" <% if (sell.sjd == 'on') { %> value="on" checked <% } else { %> value="off" <% } %> >
                                        Forum + SJD : <%= sell.sjdPrice %> €
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="year" class="col-sm-3 control-label">Repas</label>
                            <div class="col-sm-9">
                                <input type="number" name="moreMeal" class="form-control" placeholder="nb repas" value="<%= sell.moreMeal %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mealPrice" class="col-sm-3 control-label">Prix repas</label>
                            <div class="col-sm-9">
                                <input type="number" name="mealPrice" class="form-control" placeholder="prix repas" value="<%= sell.mealPrice %>" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mealPrice" class="col-sm-3 control-label">Numéro de facture</label>
                            <div class="col-sm-9">
                                <input type="number" name="mealPrice" class="form-control" placeholder="number" value="<%= sell.billNumber %>" disabled>
                            </div>
                        </div>
                    </div>

                        <div class="box-footer">
                        <button type="reset" class="btn btn-success pull-right">Réinitialiser</button>
                        <button type="submit" class="btn btn-info pull-right">Sauvegarder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    $('input:checkbox').click(function() {
        let $input = $(this);
        if ($input.val() == 'off') {
            $input.attr('value', 'on');  
        } else {
            $input.attr('value', 'off');  
        }
    });
</script>